Repository RocketChat/fuselage, pull requests merged in 2020-11, with the labels that each got.

#315 feat: Remove Box dependence from Tag and Badge components
  packages/fuselage/src/components/Badge/Badge.stories.mdx
  packages/fuselage/src/components/Badge/index.js
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Tag/Tag.stories.mdx
  packages/fuselage/src/components/Tag/index.js
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/index.scss
Labels: 📦 fuselage

#316 chore: Build GitHub Pages through GitHub Actions
  .circleci/config.yml
  .circleci/deploy-storybooks.js
  .github/workflows/storybook.yml
  .heroku/build.js
  app.json
  package.json
  yarn.lock
Labels: 🛠 CI

#330 fix: Set a conservative output.environment on Webpack bundles
  packages/fuselage-ui-kit/webpack.config.js
  packages/fuselage/webpack.config.js
  packages/ui-kit/.eslintignore
  packages/ui-kit/webpack.config.js
  yarn.lock
Labels: 📦 fuselage, 📦 fuselage-ui-kit, 📦 ui-kit
