Repository RocketChat/fuselage, pull requests merged in 2020-12, with the labels that each got.

#333 feat: Update and expose logical properties plugin for Stylis
  package.json
  packages/css-in-js/README.md
  packages/css-in-js/logicalProperties/package.json
  packages/css-in-js/package.json
  packages/css-in-js/rollup.config.js
  packages/css-in-js/src/logicalProperties.spec.ts
  packages/css-in-js/src/logicalProperties.ts
  packages/css-in-js/src/names.ts
  packages/css-in-js/src/tags.spec.ts
  packages/css-in-js/src/transpile.ts
  packages/css-in-js/src/transpile/border-radius.spec.ts
  packages/css-in-js/src/transpile/border.spec.ts
  packages/css-in-js/src/transpile/index.spec.ts
  packages/css-in-js/src/transpile/index.ts
  packages/css-in-js/src/transpile/inset.spec.ts
  packages/css-in-js/src/transpile/logicalProperties.ts
  packages/css-in-js/src/transpile/margin.spec.ts
  packages/css-in-js/src/transpile/padding.spec.ts
  packages/css-in-js/src/transpile/size.spec.ts
  packages/fuselage/src/components/Box/spec.js
  yarn.lock
Labels: 📦 css-in-js

#339 feat: usePrefersReducedMotion hook
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/docs/fuselage-hooks.getpositionstyle.md
  packages/fuselage-hooks/docs/fuselage-hooks.gettargetboundaries.md
  packages/fuselage-hooks/docs/fuselage-hooks.getvariantboundaries.md
  packages/fuselage-hooks/docs/fuselage-hooks.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedreducer.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedreducer_1.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedreducer_2.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedstate.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedupdates.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedupdates_1.md
  packages/fuselage-hooks/docs/fuselage-hooks.useprefersreducedmotion.md
  packages/fuselage-hooks/docs/fuselage-hooks.useresizeobserver.md
  packages/fuselage-hooks/docs/fuselage-hooks.usesafely.md
  packages/fuselage-hooks/src/__mocks__/matchMedia.ts
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/usePrefersReducedMotion.server.spec.ts
  packages/fuselage-hooks/src/usePrefersReducedMotion.spec.ts
  packages/fuselage-hooks/src/usePrefersReducedMotion.ts
Labels: 📦 fuselage-hooks

#340 feat: usePrefersReducedData hook
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/docs/fuselage-hooks.md
  packages/fuselage-hooks/docs/fuselage-hooks.useprefersreduceddata.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/usePrefersReducedData.server.spec.ts
  packages/fuselage-hooks/src/usePrefersReducedData.spec.ts
  packages/fuselage-hooks/src/usePrefersReducedData.ts
Labels: 📦 fuselage-hooks

#341 feat: usePrefersColorScheme hook
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/docs/fuselage-hooks.md
  packages/fuselage-hooks/docs/fuselage-hooks.usepreferscolorscheme.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/usePrefersColorScheme.server.spec.ts
  packages/fuselage-hooks/src/usePrefersColorScheme.spec.ts
  packages/fuselage-hooks/src/usePrefersColorScheme.ts
Labels: 📦 fuselage-hooks

#337 feat: useClipboard hook
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/docs/fuselage-hooks.md
  packages/fuselage-hooks/docs/fuselage-hooks.useclipboard.md
  packages/fuselage-hooks/docs/fuselage-hooks.useclipboardreturn.md
  packages/fuselage-hooks/docs/fuselage-hooks.usetoggle.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useClipboard.server.spec.ts
  packages/fuselage-hooks/src/useClipboard.spec.ts
  packages/fuselage-hooks/src/useClipboard.ts
Labels: 📦 fuselage-hooks

#348 feat: Fuselage typings
  packages/fuselage/fuselage.d.ts
  packages/fuselage/package.json
Labels: 📦 fuselage

#349 perf: Modal
  packages/fuselage/.loki/reference/chrome_iphone7_Containers_Modal_Modal.png
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Avatar_Stack.png
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Avatar_Stack_Rounded.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_OptionAvatar.png
  packages/fuselage/.loki/reference/chrome_laptop_Containers_Modal_Modal.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Avatar_Stack.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Avatar_Stack_Rounded.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_OptionAvatar.png
  packages/fuselage/.storybook/helpers.js
  packages/fuselage/.storybook/main.js
  packages/fuselage/.storybook/preview.js
  packages/fuselage/fuselage.d.ts
  packages/fuselage/package.json
  packages/fuselage/src/components/Modal/Modal.js
  packages/fuselage/src/components/Modal/Modal.spec.js
  packages/fuselage/src/components/Modal/Modal.stories.js
  packages/fuselage/src/components/Modal/Modal.stories.mdx
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalBackdrop.js
  packages/fuselage/src/components/Modal/ModalClose.js
  packages/fuselage/src/components/Modal/ModalContent.js
  packages/fuselage/src/components/Modal/ModalFooter.js
  packages/fuselage/src/components/Modal/ModalHeader.js
  packages/fuselage/src/components/Modal/ModalThumb.js
  packages/fuselage/src/components/Modal/ModalTitle.js
  packages/fuselage/src/components/Modal/Stack.js
  packages/fuselage/src/components/Modal/index.js
  packages/fuselage/src/components/Modal/styles.scss
  packages/fuselage/src/components/index.scss
  yarn.lock
Labels: 📦 fuselage

#343 fix: Badge and Tag Style
  packages/fuselage/src/components/Badge/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
Labels: 📦 fuselage

#347 fix: Option isolation
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_Skeleton.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_asUserItem.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_withAvatar.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_withIcon.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_withMenu.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_withPresence.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Options_CheckOption.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Options_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Options_Option.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_Skeleton.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_asUserItem.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_withAvatar.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_withIcon.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_withMenu.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_withPresence.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Options_CheckOption.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Options_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Options_Option.png
  packages/fuselage/.storybook/helpers.js
  packages/fuselage/src/components/Menu/Menu.stories.mdx
  packages/fuselage/src/components/Options/Option/Option.stories.mdx
  packages/fuselage/src/components/Options/Option/index.js
  packages/fuselage/src/components/Options/Option/spec.js
  packages/fuselage/src/components/Options/Options.stories.mdx
  packages/fuselage/src/components/Options/index.js
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/index.js
Labels: 📦 fuselage
