Repository RocketChat/fuselage, pull requests merged in 2020-07, with the labels that each got.

#254 fix: Box className prop
  packages/fuselage/src/components/Box/index.js
  packages/fuselage/src/components/Box/spec.js
Labels: 📦 fuselage

#248 feat: Hooks useLocalStorage and useSessionStorage
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useStorage.server.spec.ts
  packages/fuselage-hooks/src/useStorage.spec.ts
  packages/fuselage-hooks/src/useStorage.ts
Labels: 🎣 Hooks, 📦 fuselage-hooks

#258 fix: fuselage-hooks bundling
  README.md
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/api-extractor.json
  packages/fuselage-hooks/docs/fuselage-hooks.md
  packages/fuselage-hooks/docs/fuselage-hooks.useautofocus.md
  packages/fuselage-hooks/docs/fuselage-hooks.usebreakpoints.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedcallback.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedreducer.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedreducer_1.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedreducer_2.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedstate.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedupdates.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedupdates_1.md
  packages/fuselage-hooks/docs/fuselage-hooks.usedebouncedvalue.md
  packages/fuselage-hooks/docs/fuselage-hooks.useisomorphiclayouteffect.md
  packages/fuselage-hooks/docs/fuselage-hooks.uselazyref.md
  packages/fuselage-hooks/docs/fuselage-hooks.uselocalstorage.md
  packages/fuselage-hooks/docs/fuselage-hooks.usemediaqueries.md
  packages/fuselage-hooks/docs/fuselage-hooks.usemediaquery.md
  packages/fuselage-hooks/docs/fuselage-hooks.usemergedrefs.md
  packages/fuselage-hooks/docs/fuselage-hooks.usemutablecallback.md
  packages/fuselage-hooks/docs/fuselage-hooks.useresizeobserver.md
  packages/fuselage-hooks/docs/fuselage-hooks.usesafely.md
  packages/fuselage-hooks/docs/fuselage-hooks.usesessionstorage.md
  packages/fuselage-hooks/docs/fuselage-hooks.usestablearray.md
  packages/fuselage-hooks/docs/fuselage-hooks.usetoggle.md
  packages/fuselage-hooks/docs/fuselage-hooks.useuniqueid.md
  packages/fuselage-hooks/docs/index.md
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/rollup.config.js
  packages/fuselage-hooks/src/useAutoFocus.ts
  packages/fuselage-hooks/src/useBreakpoints.ts
  packages/fuselage-hooks/src/useDebouncedCallback.ts
  packages/fuselage-hooks/src/useDebouncedReducer.ts
  packages/fuselage-hooks/src/useDebouncedState.ts
  packages/fuselage-hooks/src/useDebouncedUpdates.ts
  packages/fuselage-hooks/src/useDebouncedValue.ts
  packages/fuselage-hooks/src/useIsomorphicLayoutEffect.ts
  packages/fuselage-hooks/src/useLazyRef.ts
  packages/fuselage-hooks/src/useMediaQueries.ts
  packages/fuselage-hooks/src/useMediaQuery.ts
  packages/fuselage-hooks/src/useMergedRefs.ts
  packages/fuselage-hooks/src/useMutableCallback.ts
  packages/fuselage-hooks/src/useResizeObserver.ts
  packages/fuselage-hooks/src/useSafely.ts
  packages/fuselage-hooks/src/useStableArray.ts
  packages/fuselage-hooks/src/useStorage.ts
  packages/fuselage-hooks/src/useToggle.ts
  packages/fuselage-hooks/src/useUniqueId.ts
  packages/fuselage-hooks/tsconfig.json
  yarn.lock
Labels: 📦 fuselage-hooks, 🛠 CI

#256 feat: Margins not only for Box
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_Example.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_With_auto_value.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_With_negative_values.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_With_non_Box_children.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_With_none_value.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_all_prop.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_blockEnd_prop.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_blockStart_prop.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_block_prop.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_inlineEnd_prop.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_inlineStart_prop.png
  packages/fuselage/.loki/reference/chrome_iphone7_Layout_Margins_inline_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_Example.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_With_auto_value.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_With_negative_values.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_With_non_Box_children.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_With_none_value.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_all_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_blockEnd_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_blockStart_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_block_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_inlineEnd_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_inlineStart_prop.png
  packages/fuselage/.loki/reference/chrome_laptop_Layout_Margins_inline_prop.png
  packages/fuselage/src/components/Box/Margins/index.js
  packages/fuselage/src/components/Box/Margins/spec.js
  packages/fuselage/src/components/Box/index.js
  packages/fuselage/src/components/Box/styles.scss
  packages/fuselage/src/components/Chip/index.js
  packages/fuselage/src/components/Margins/index.js
  packages/fuselage/src/components/Margins/spec.js
  packages/fuselage/src/components/Margins/stories.mdx
  packages/fuselage/src/components/Modal/index.js
  packages/fuselage/src/components/Options/index.js
  packages/fuselage/src/components/Select/MultiSelect.js
  packages/fuselage/src/components/Select/Select.js
  packages/fuselage/src/components/Table/index.js
  packages/fuselage/src/components/index.js
  packages/fuselage/src/helpers/patchChildren.js
  packages/fuselage/src/styles/primitives/box.scss
Labels: 📦 fuselage

#257 refactor: Chip without Box
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Chip_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Chip_Dismissible.png
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Chip_Example.png
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Chip_With_thumb.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Chip_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Chip_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Chip_Dismissible.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Chip_Example.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Chip_With_thumb.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Chip_Default.png
  packages/fuselage/.storybook/helpers.js
  packages/fuselage/src/components/AutoComplete/index.js
  packages/fuselage/src/components/Box/styles.scss
  packages/fuselage/src/components/Box/withBoxStyling.js
  packages/fuselage/src/components/Chip/index.js
  packages/fuselage/src/components/Chip/stories.mdx
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Select/MultiSelect.js
  packages/fuselage/src/components/index.js
  packages/fuselage/src/styles/primitives/box.scss
Labels: 📦 fuselage

#259 feat: usePosition
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/docs/fuselage-hooks.getpositionstyle.md
  packages/fuselage-hooks/docs/fuselage-hooks.gettargetboundaries.md
  packages/fuselage-hooks/docs/fuselage-hooks.getvariantboundaries.md
  packages/fuselage-hooks/docs/fuselage-hooks.md
  packages/fuselage-hooks/docs/fuselage-hooks.placements.md
  packages/fuselage-hooks/docs/fuselage-hooks.positionfliporder.md
  packages/fuselage-hooks/docs/fuselage-hooks.positions.md
  packages/fuselage-hooks/docs/fuselage-hooks.postionoptions.md
  packages/fuselage-hooks/docs/fuselage-hooks.useposition.md
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_CheckOption.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_OptionAvatar.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_CheckOption.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_OptionAvatar.png
  packages/fuselage/src/components/AutoComplete/index.js
  packages/fuselage/src/components/AutoComplete/spec.js
  packages/fuselage/src/components/Box/AnimatedVisibility/index.js
  packages/fuselage/src/components/Box/Position/index.js
  packages/fuselage/src/components/Box/Position/position.stories.mdx.ignore
  packages/fuselage/src/components/Menu/index.js
  packages/fuselage/src/components/Options/index.js
  packages/fuselage/src/components/Select/MultiSelect.js
  packages/fuselage/src/components/Select/Select.js
Labels: 📦 fuselage-hooks

#262 fix: useMediaQueries support on Safari and IE11
  packages/fuselage-hooks/src/useMediaQueries.ts
Labels: 🐛 Bug, 📦 fuselage-hooks

#266 fix: Loosen x-measures parsing
  packages/fuselage/src/styleTokens.js
Labels: 📦 fuselage

#270 chore: Bump peer dependencies
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  yarn.lock
Labels: 📦 fuselage

#274 feat: UiKit types
  .vscode/settings.json
  packages/ui-kit/.eslintignore
  packages/ui-kit/.eslintrc.js
  packages/ui-kit/README.md
  packages/ui-kit/__tests__/ui-kit.test.js
  packages/ui-kit/api-extractor.json
  packages/ui-kit/docs/index.md
  packages/ui-kit/docs/ui-kit.block_context.md
  packages/ui-kit/docs/ui-kit.component.md
  packages/ui-kit/docs/ui-kit.createrenderelement.md
  packages/ui-kit/docs/ui-kit.element_types.md
  packages/ui-kit/docs/ui-kit.md
  packages/ui-kit/docs/ui-kit.uikitbuttons.md
  packages/ui-kit/docs/ui-kit.uikitelement.md
  packages/ui-kit/docs/ui-kit.uikitelement.type.md
  packages/ui-kit/docs/ui-kit.uikitgeneric.md
  packages/ui-kit/docs/ui-kit.uikitmessage.md
  packages/ui-kit/docs/ui-kit.uikitmodal.md
  packages/ui-kit/docs/ui-kit.uikitparserbuttons.button.md
  packages/ui-kit/docs/ui-kit.uikitparserbuttons.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.actions.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.button.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.context.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.datepicker.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.divider.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.image.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.multistaticselect.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.overflow.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.renderaccessories.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.renderactions.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.rendercontext.md
  packages/ui-kit/docs/ui-kit.uikitparsermessage.staticselect.md
  packages/ui-kit/docs/ui-kit.uikitparsermodal.md
  packages/ui-kit/docs/ui-kit.uikitparsermodal.plaininput.md
  packages/ui-kit/docs/ui-kit.uikitparsermodal.renderinputs.md
  packages/ui-kit/docs/ui-kit.uikitparsertext.md
  packages/ui-kit/docs/ui-kit.uikitparsertext.mrkdwn.md
  packages/ui-kit/docs/ui-kit.uikitparsertext.plainttext.md
  packages/ui-kit/docs/ui-kit.uikitparsertext.text.md
  packages/ui-kit/docs/ui-kit.uikittext.md
  packages/ui-kit/docs/ui-kit.uikittext.text.md
  packages/ui-kit/docs/ui-kit.version.md
  packages/ui-kit/package.json
  packages/ui-kit/src/index.ts
  packages/ui-kit/tsconfig.json
  packages/ui-kit/webpack.config.js
  yarn.lock
Labels: 📦 ui-kit
