Repository RocketChat/fuselage, pull requests merged in 2020-10, with the labels that each got.

#300 feat: Event Emitter
  packages/emitter/.eslintignore
  packages/emitter/.eslintrc.js
  packages/emitter/.gitignore
  packages/emitter/.lintstagedrc.json
  packages/emitter/CHANGELOG.md
  packages/emitter/README.md
  packages/emitter/api-extractor.json
  packages/emitter/docs/emitter.emitter.emit.md
  packages/emitter/docs/emitter.emitter.has.md
  packages/emitter/docs/emitter.emitter.md
  packages/emitter/docs/emitter.emitter.off.md
  packages/emitter/docs/emitter.emitter.on.md
  packages/emitter/docs/emitter.emitter.once.md
  packages/emitter/docs/emitter.eventtype.md
  packages/emitter/docs/emitter.handler.md
  packages/emitter/docs/emitter.md
  packages/emitter/docs/index.md
  packages/emitter/jest.config.js
  packages/emitter/package.json
  packages/emitter/rollup.config.js
  packages/emitter/src/emitter.spec.ts
  packages/emitter/src/index.ts
  packages/emitter/tsconfig.json
Labels: 📦 emitter

#304 fix: Use dir attribute from documentElement
  packages/css-in-js/src/transpile/border-radius.spec.ts
  packages/css-in-js/src/transpile/border.spec.ts
  packages/css-in-js/src/transpile/inset.spec.ts
  packages/css-in-js/src/transpile/logicalProperties.ts
  packages/css-in-js/src/transpile/margin.spec.ts
  packages/css-in-js/src/transpile/padding.spec.ts
  packages/fuselage/src/components/Margins/spec.js
Labels: 🐛 Bug, 📦 css-in-js

#305 [NEW] Element.closest Polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package-lock.json
  packages/fuselage-polyfills/package.json
Labels: 📦 fuselage-polyfills

#311 fix: Emitter: Created events method
  packages/emitter/README.md
  packages/emitter/docs/emitter.emitter.events.md
  packages/emitter/docs/emitter.emitter.md
  packages/emitter/src/index.ts
Labels: 📦 emitter

#313 fix: Sidebar menu transition
  packages/fuselage/src/components/Sidebar/styles.scss
Labels: 📦 fuselage

#312 chore: Correct badges in @rocket.chat/emitter README
  packages/emitter/README.md
Labels: 📦 emitter
