Repository RocketChat/fuselage, pull requests merged in 2021-01, with the labels that each got.

#355 fix: Update Fuselage typings
  packages/fuselage/fuselage.d.ts
Labels: 📦 fuselage

#361 fix: AvatarProps declaration
  packages/fuselage/fuselage.d.ts
Labels: 📦 fuselage

#362 fix: Banner surface adjustments
  packages/fuselage-ui-kit/src/blocks/ActionsBlock.js
  packages/fuselage-ui-kit/src/blocks/ContextBlock.js
  packages/fuselage-ui-kit/src/blocks/DividerBlock.js
  packages/fuselage-ui-kit/src/blocks/ImageBlock.js
  packages/fuselage-ui-kit/src/blocks/InputBlock.js
  packages/fuselage-ui-kit/src/blocks/SectionBlock.js
  packages/fuselage-ui-kit/src/surfaces/BannerSurface.js
Labels: 📦 fuselage-ui-kit

#366 fix: Pass appId and blockId from blocks to elements
  packages/fuselage-ui-kit/src/blocks/ActionsBlock.js
  packages/fuselage-ui-kit/src/blocks/ContextBlock.js
  packages/fuselage-ui-kit/src/blocks/DividerBlock.js
  packages/fuselage-ui-kit/src/blocks/ImageBlock.js
  packages/fuselage-ui-kit/src/blocks/InputBlock.js
  packages/fuselage-ui-kit/src/blocks/SectionBlock.js
  packages/fuselage-ui-kit/src/elements/ButtonElement.js
  packages/fuselage-ui-kit/src/elements/DatePickerElement.js
  packages/fuselage-ui-kit/src/elements/MultiStaticSelectElement.js
  packages/fuselage-ui-kit/src/elements/OverflowElement.js
  packages/fuselage-ui-kit/src/elements/PlainInputElement.js
  packages/fuselage-ui-kit/src/elements/StaticSelectElement.js
  packages/fuselage-ui-kit/src/hooks.js
  packages/fuselage-ui-kit/src/renderers.js
  packages/fuselage/.loki/reference/chrome_iphone7_Forms_Inputs_AutoComplete_Example.png
  packages/fuselage/.loki/reference/chrome_laptop_Forms_Inputs_AutoComplete_Example.png
Labels: 📦 fuselage-ui-kit

#378 [FIX] TSConfig es5 target & es6 lib
  packages/css-in-js/tsconfig.json
Labels: 📦 css-in-js

#390 regression: Ui Kit's Linear Scale element in banner surface
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Actions_With_All_Selects.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Actions_With_Button.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Actions_With_Date_Picker.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Actions_With_Filtered_Conversations_Select.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Actions_With_Initialized_Selects.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Context_With_Mrkdwn.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Context_With_Plain_Text.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Context_With_Text_And_Images.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Image_With_Title.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Image_Without_Title.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Input_With_Date_Picker.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Input_With_Linear_Scale.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Input_With_Multiline_Plain_Text_Input.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Input_With_Plain_Text_Input.png
  packages/fuselage-ui-kit/.loki/reference/chrome_iphone7_Surfaces_Banner_Input_With_Static_Select.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Actions_With_All_Selects.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Actions_With_Button.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Actions_With_Date_Picker.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Actions_With_Filtered_Conversations_Select.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Actions_With_Initialized_Selects.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Context_With_Mrkdwn.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Context_With_Plain_Text.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Context_With_Text_And_Images.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Input_With_Date_Picker.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Input_With_Multiline_Plain_Text_Input.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Input_With_Plain_Text_Input.png
  packages/fuselage-ui-kit/.loki/reference/chrome_laptop_Surfaces_Banner_Input_With_Static_Select.png
  packages/fuselage-ui-kit/src/elements/LinearScaleElement.js
  packages/fuselage-ui-kit/src/hooks.js
  packages/fuselage/src/components/Banner/Banner.js
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/ui-kit/src/blocks.ts
  packages/ui-kit/src/surfaces/banner.ts
  packages/ui-kit/src/surfaces/message.ts
Labels: 📦 fuselage, 📦 fuselage-ui-kit, 📦 ui-kit
