Repository RocketChat/fuselage, pull requests merged in 2021-02, with the labels that each got.

#394 feat: new Event() polyfill
  packages/fuselage-polyfills/index.js
  packages/fuselage-polyfills/package.json
  yarn.lock
Labels: 📦 fuselage-polyfills

#395 chore: new `code` style
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Rich_content_code.png
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Rich_content_pre_with_code.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Rich_content_code.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Rich_content_pre_with_code.png
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Labels: 📦 fuselage

#397 chore: fix memo version
  packages/fuselage/package.json
  yarn.lock
Labels: 🐛 Bug

#398 fix: Remove development mode warnings
  packages/fuselage/src/components/AutoComplete/index.js
  packages/fuselage/src/components/Box/index.js
Labels: 📦 fuselage

#399 feat: Type Emitter Implementation
  packages/emitter/README.md
  packages/emitter/docs/emitter.anyeventhandlerof.md
  packages/emitter/docs/emitter.anyeventof.md
  packages/emitter/docs/emitter.anyeventtypeof.md
  packages/emitter/docs/emitter.defaulteventmap.md
  packages/emitter/docs/emitter.emitter.emit.md
  packages/emitter/docs/emitter.emitter.md
  packages/emitter/docs/emitter.emitter.off.md
  packages/emitter/docs/emitter.emitter.on.md
  packages/emitter/docs/emitter.emitter.once.md
  packages/emitter/docs/emitter.eventhandlerof.md
  packages/emitter/docs/emitter.eventof.md
  packages/emitter/docs/emitter.eventtype.md
  packages/emitter/docs/emitter.eventtypeof.md
  packages/emitter/docs/emitter.handler.md
  packages/emitter/docs/emitter.iemitter.emit.md
  packages/emitter/docs/emitter.iemitter.events.md
  packages/emitter/docs/emitter.iemitter.has.md
  packages/emitter/docs/emitter.iemitter.md
  packages/emitter/docs/emitter.iemitter.off.md
  packages/emitter/docs/emitter.iemitter.on.md
  packages/emitter/docs/emitter.iemitter.once.md
  packages/emitter/docs/emitter.md
  packages/emitter/docs/emitter.offcallbackhandler.md
  packages/emitter/src/index.ts
Labels: 📦 emitter

#402 feat: Basic TypeScript support
  packages/fuselage/jest.config.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Sidebar/Actions.js
  packages/fuselage/src/components/Sidebar/Item.js
  packages/fuselage/src/components/Sidebar/TopBar.js
  packages/fuselage/src/helpers/appendClassName.js
  packages/fuselage/src/helpers/appendClassName.ts
  packages/fuselage/src/helpers/composeClassNames.ts
  packages/fuselage/src/helpers/createPropType.ts
  packages/fuselage/src/helpers/flattenChildren.ts
  packages/fuselage/src/helpers/fromCamelToKebab.ts
  packages/fuselage/src/helpers/patchChildren.ts
  packages/fuselage/src/helpers/prependClassName.js
  packages/fuselage/src/helpers/prependClassName.ts
  packages/fuselage/src/helpers/shallowEqual.js
  packages/fuselage/src/helpers/shallowEqual.ts
  packages/fuselage/src/hooks/useStyle.ts
  packages/fuselage/src/hooks/useStyleSheet.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/scss.d.ts
  packages/fuselage/tsconfig.json
  packages/fuselage/webpack.config.js
  yarn.lock
Labels: 📦 fuselage
