Repository RocketChat/fuselage, pull requests merged in 2021-03, with the labels that each got.

#403 chore: Migrate CI/CD procedures to GitHub actions
  .circleci/config.yml
  .github/actions/loki/test/Dockerfile
  .github/actions/loki/test/action.yml
  .github/actions/loki/test/entrypoint.sh
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr.yml
  .github/workflows/storybook.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  packages/css-in-js/.lintstagedrc.json
  packages/css-in-js/package.json
  packages/emitter/.lintstagedrc.json
  packages/emitter/package.json
  packages/fuselage-hooks/.lintstagedrc.json
  packages/fuselage-hooks/package.json
  packages/fuselage-ui-kit/.eslintrc.js
  packages/fuselage-ui-kit/.lintstagedrc.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/.eslintignore
  packages/fuselage/.eslintrc.js
  packages/fuselage/.jest/helpers.js
  packages/fuselage/.jest/setup.js
  packages/fuselage/.lintstagedrc.json
  packages/fuselage/.prettierrc
  packages/fuselage/babel.config.js
  packages/fuselage/package.json
  packages/fuselage/tsconfig.json
  packages/icons/package.json
  packages/memo/package.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/mp3-encoder/.lintstagedrc.json
  packages/mp3-encoder/package.json
  packages/ui-kit/.lintstagedrc.json
  packages/ui-kit/package.json
  yarn.lock
Labels: 🛠 CI

#368 fix: Broken stories for AutoComplete
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.mdx
Labels: 📦 fuselage

#414 fix: Speech balloon icon aliases
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_TopBar_Default.png
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/baloon-arrow-left.svg
  packages/icons/src/aliases/baloon-arrow-top-right.svg
  packages/icons/src/aliases/baloon-close-top-right.svg
  packages/icons/src/aliases/baloon-ellipsis.svg
  packages/icons/src/aliases/baloon-exclamation.svg
  packages/icons/src/aliases/baloon-text.svg
  packages/icons/src/aliases/baloons.svg
  packages/icons/src/aliases/canned-response.svg
  packages/icons/src/aliases/chat.svg
  packages/icons/src/aliases/message-disabled.svg
  packages/icons/src/aliases/message.svg
  packages/icons/src/aliases/thread.svg
  packages/icons/src/balloon-arrow-left.svg
  packages/icons/src/balloon-arrow-top-right.svg
  packages/icons/src/balloon-close-top-right.svg
  packages/icons/src/balloon-ellipsis.svg
  packages/icons/src/balloon-exclamation.svg
  packages/icons/src/balloon-off.svg
  packages/icons/src/balloon-text.svg
  packages/icons/src/balloon.svg
  packages/icons/src/balloons.svg
  packages/icons/src/legacy/livechat.svg
  packages/icons/src/legacy/message-disabled.svg
  packages/icons/src/legacy/message.svg
Labels: 📦 icons

#415 fix: Add more type definitions
  packages/fuselage/fuselage.d.ts
Labels: 📦 fuselage

#410 feat: Add Modal Icon to Modal Component
  packages/fuselage/.loki/reference/chrome_iphone7_Containers_Modal_With_Icon.png
  packages/fuselage/.loki/reference/chrome_laptop_Containers_Modal_With_Icon.png
  packages/fuselage/src/components/Modal/Modal.stories.js
  packages/fuselage/src/components/Modal/ModalIcon.js
  packages/fuselage/src/components/Modal/index.js
Labels: 📦 fuselage-hooks
