Repository RocketChat/fuselage, pull requests merged in 2021-05, with the labels that each got.

#443 feat: @rocket.chat/message-parser
  .vscode/settings.json
  README.md
  packages/css-in-js/package.json
  packages/emitter/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage/package.json
  packages/message-parser/.eslintignore
  packages/message-parser/.eslintrc.js
  packages/message-parser/.gitignore
  packages/message-parser/.prettierrc.js
  packages/message-parser/README.md
  packages/message-parser/babel.config.js
  packages/message-parser/jest.config.js
  packages/message-parser/loaders/pegloader.js
  packages/message-parser/loaders/pegtransform.js
  packages/message-parser/messageParser.js
  packages/message-parser/package.json
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/guards.ts
  packages/message-parser/src/index.ts
  packages/message-parser/src/typings/peg.d.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/any.test.ts
  packages/message-parser/tests/blockquotes.test.ts
  packages/message-parser/tests/codeFence.test.ts
  packages/message-parser/tests/color.test.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emoji.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/heading.test.ts
  packages/message-parser/tests/inlineCode.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/mention.test.ts
  packages/message-parser/tests/orderedList.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/taskList.test.ts
  packages/message-parser/tests/unorderedList.test.ts
  packages/message-parser/tests/url.test.ts
  packages/message-parser/tsconfig-bundle.json
  packages/message-parser/tsconfig.json
  packages/message-parser/webpack.config.js
  packages/mp3-encoder/package.json
  packages/string-helpers/package.json
  packages/ui-kit/package.json
  scripts/package.json
  yarn.lock
Labels: 📦 message-parser

#449 fix: Location in typesVersions field
  packages/string-helpers/package.json
Labels: 📦 string-helpers

#459 fix: Peggy loader options
  packages/peggy-loader/src/index.ts
  yarn.lock
Labels: 📦 peggy-loader

#461 refactor(types): Type definitions for Position and PositionAnimated
  packages/fuselage/src/components/Box/Position/Position.d.ts
  packages/fuselage/src/components/Box/Position/Position.js
  packages/fuselage/src/components/Box/Position/PositionAnimated.d.ts
  packages/fuselage/src/components/Box/Position/PositionAnimated.js
  packages/fuselage/src/components/Box/Position/index.ts
Labels: 📦 fuselage

#460 feat: usePrevious hook
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/usePrevious.spec.ts
  packages/fuselage-hooks/src/usePrevious.ts
Labels: 📦 fuselage-hooks
