Repository RocketChat/fuselage, pull requests merged in 2021-07, with the labels that each got.

#484 fix: Table props
  packages/fuselage/src/components/Table/index.d.ts
Labels: 📦 fuselage

#487 chore: Missing EmailInput type
  packages/fuselage/src/components/EmailInput/index.d.ts
Labels: 📦 fuselage

#485 new: EmailConfirmedPage Component
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/onboarding-ui/.loki/reference/desktop_common_RocketChatLogo_RocketChatLogo.png
  packages/onboarding-ui/.loki/reference/desktop_pages_EmailConfirmedPage_Default.png
  packages/onboarding-ui/.loki/reference/desktop_pages_EmailConfirmedPage_EmailConfirmedPage.png
  packages/onboarding-ui/.loki/reference/mobile_common_RocketChatLogo_RocketChatLogo.png
  packages/onboarding-ui/.loki/reference/mobile_pages_EmailConfirmedPage_Default.png
  packages/onboarding-ui/.loki/reference/mobile_pages_EmailConfirmedPage_EmailConfirmedPage.png
  packages/onboarding-ui/.loki/reference/tablet_common_RocketChatLogo_RocketChatLogo.png
  packages/onboarding-ui/.loki/reference/tablet_pages_EmailConfirmedPage_Default.png
  packages/onboarding-ui/.loki/reference/tablet_pages_EmailConfirmedPage_EmailConfirmedPage.png
  packages/onboarding-ui/.storybook/preview-head.html
  packages/onboarding-ui/.storybook/preview.ts
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/common/BackgroundLayer.stories.tsx
  packages/onboarding-ui/src/common/BackgroundLayer.tsx
  packages/onboarding-ui/src/common/DarkModeProvider.tsx
  packages/onboarding-ui/src/common/RocketChatLogo.stories.tsx
  packages/onboarding-ui/src/common/RocketChatLogo.tsx
  packages/onboarding-ui/src/pages/.gitignore
  packages/onboarding-ui/src/pages/EmailConfirmedPage/EmailConfirmedPage.spec.tsx
  packages/onboarding-ui/src/pages/EmailConfirmedPage/EmailConfirmedPage.stories.tsx
  packages/onboarding-ui/src/pages/EmailConfirmedPage/EmailConfirmedPage.tsx
  packages/onboarding-ui/src/pages/EmailConfirmedPage/index.ts
  yarn.lock
Labels: 📦 onboarding-ui

#486 new: ConfirmedProcessPage Component
  packages/onboarding-ui/.loki/reference/desktop_pages_ConfirmationProcessPage_ConfirmationProcessPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_ConfirmationProcessPage_ConfirmationProcessPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_ConfirmationProcessPage_ConfirmationProcessPage.png
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/src/pages/ConfirmationProcessPage/ConfirmationProcessPage.spec.tsx
  packages/onboarding-ui/src/pages/ConfirmationProcessPage/ConfirmationProcessPage.stories.tsx
  packages/onboarding-ui/src/pages/ConfirmationProcessPage/ConfirmationProcessPage.tsx
  packages/onboarding-ui/src/pages/ConfirmationProcessPage/index.ts
Labels: 📦 onboarding-ui

#491 new: AwaitingConfirmationPage Component
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/.loki/reference/desktop_pages_AwaitingConfirmationPage_AwaitingConfirmationPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_AwaitingConfirmationPage_AwaitingConfirmationPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_AwaitingConfirmationPage_AwaitingConfirmationPage.png
  packages/onboarding-ui/.storybook/preview.tsx
  packages/onboarding-ui/jest.config.js
  packages/onboarding-ui/src/common/BackgroundLayer.styles.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/ActionLink.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.spec.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.stories.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/AwaitingConfirmationPage.tsx
  packages/onboarding-ui/src/pages/AwaitingConfirmationPage/index.ts
Labels: 📦 onboarding-ui

#496 feat(onboarding-ui): Invalid Link page
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.loki/reference/desktop_pages_InvalidLinkPage_InvalidLinkPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_InvalidLinkPage_InvalidLinkPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_InvalidLinkPage_InvalidLinkPage.png
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.spec.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.stories.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/InvalidLinkPage.tsx
  packages/onboarding-ui/src/pages/InvalidLinkPage/index.ts
Labels: 📦 onboarding-ui

#502 fix: Missing Tab definitions
  packages/fuselage/src/components/Tabs/index.d.ts
Labels: 📦 fuselage

#501 feat(onboarding-ui): Self-hosted registration
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Callout_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Callout_With_Description.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Callout_With_Description_Only.png
  packages/fuselage/.loki/reference/chrome_iphone7_Playground_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Callout_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Callout_With_Description.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Callout_With_Description_Only.png
  packages/fuselage/.loki/reference/chrome_laptop_Playground_Default.png
  packages/fuselage/src/components/Callout/index.d.ts
  packages/fuselage/src/components/Callout/styles.scss
  packages/onboarding-ui/.loki/reference/desktop_forms_AdminInfoForm_AdminInfoForm.png
  packages/onboarding-ui/.loki/reference/desktop_forms_OrganizationInfoForm_OrganizationInfoForm.png
  packages/onboarding-ui/.loki/reference/desktop_forms_RegisterServerForm_OptionCard_OptionCard.png
  packages/onboarding-ui/.loki/reference/desktop_forms_RegisterServerForm_OptionCard_OptionCard_Selected.png
  packages/onboarding-ui/.loki/reference/desktop_forms_RegisterServerForm_RegisterServerForm.png
  packages/onboarding-ui/.loki/reference/desktop_pages_AdminInfoPage_AdminInfoPage.png
  packages/onboarding-ui/.loki/reference/desktop_pages_CloudAccountEmailPage_CloudAccountEmailPage.png
  packages/onboarding-ui/.loki/reference/desktop_pages_OrganizationInfoPage_OrganizationInfoPage.png
  packages/onboarding-ui/.loki/reference/desktop_pages_RegisterServerPage_RegisterServerPage.png
  packages/onboarding-ui/.loki/reference/mobile_forms_AdminInfoForm_AdminInfoForm.png
  packages/onboarding-ui/.loki/reference/mobile_forms_OrganizationInfoForm_OrganizationInfoForm.png
  packages/onboarding-ui/.loki/reference/mobile_forms_RegisterServerForm_OptionCard_OptionCard.png
  packages/onboarding-ui/.loki/reference/mobile_forms_RegisterServerForm_OptionCard_OptionCard_Selected.png
  packages/onboarding-ui/.loki/reference/mobile_forms_RegisterServerForm_RegisterServerForm.png
  packages/onboarding-ui/.loki/reference/mobile_pages_AdminInfoPage_AdminInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_CloudAccountEmailPage_CloudAccountEmailPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_OrganizationInfoPage_OrganizationInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_RegisterServerPage_RegisterServerPage.png
  packages/onboarding-ui/.loki/reference/tablet_forms_AdminInfoForm_AdminInfoForm.png
  packages/onboarding-ui/.loki/reference/tablet_forms_OrganizationInfoForm_OrganizationInfoForm.png
  packages/onboarding-ui/.loki/reference/tablet_forms_RegisterServerForm_OptionCard_OptionCard.png
  packages/onboarding-ui/.loki/reference/tablet_forms_RegisterServerForm_OptionCard_OptionCard_Selected.png
  packages/onboarding-ui/.loki/reference/tablet_forms_RegisterServerForm_RegisterServerForm.png
  packages/onboarding-ui/.loki/reference/tablet_pages_AdminInfoPage_AdminInfoPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_CloudAccountEmailPage_CloudAccountEmailPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_OrganizationInfoPage_OrganizationInfoPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_RegisterServerPage_RegisterServerPage.png
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/src/common/Form/Form.tsx
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/CloudAccountEmailForm/CloudAccountEmailForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterOptionCard.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/StandaloneOptionCard.tsx
  packages/onboarding-ui/src/hooks/useStyle.ts
  packages/onboarding-ui/src/pages/AdminInfoPage/AdminInfoPage.tsx
  packages/onboarding-ui/src/pages/CloudAccountEmailPage/CloudAccountEmailPage.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
  packages/onboarding-ui/src/pages/RegisterServerPage/RegisterServerPage.tsx
Labels: 📦 onboarding-ui

#497 feat(onboarding-ui): AdminInfoPage for Cloud Registration wizard
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.loki/reference/desktop_pages_AdminInfoPage_CloudAdminInfoPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_AdminInfoPage_CloudAdminInfoPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_AdminInfoPage_CloudAdminInfoPage.png
  packages/onboarding-ui/src/common/FormPageLayout.styles.tsx
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/pages/AdminInfoPage/AdminInfoPage.stories.tsx
  packages/onboarding-ui/src/pages/AdminInfoPage/AdminInfoPage.tsx
Labels: 📦 onboarding-ui

#500 fix: Escape trademark sign
  packages/string-helpers/src/escapeHTML.spec.ts
  packages/string-helpers/src/escapeHTML.ts
  packages/string-helpers/src/unescapeHTML.spec.ts
  packages/string-helpers/src/unescapeHTML.ts
Labels: 📦 string-helpers

#506 fix: Missing Sidebar type
  packages/fuselage/src/components/Sidebar/index.d.ts
Labels: 📦 fuselage
