Repository RocketChat/fuselage, pull requests merged in 2021-12, with the labels that each got.

#579 fix(fuselage): States Component Font Style
  packages/fuselage/.loki/reference/chrome_iphone7_States_States_Action_Button.png
  packages/fuselage/.loki/reference/chrome_iphone7_States_States_Action_Button_With_No_Suggestions.png
  packages/fuselage/.loki/reference/chrome_iphone7_States_States_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Action_Button.png
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Action_Button_With_No_Suggestions.png
  packages/fuselage/.loki/reference/chrome_laptop_States_States_Default.png
  packages/fuselage/src/components/Options/Option/Option.tsx
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/States.tsx
  packages/fuselage/src/components/States/StatesAction.tsx
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
  packages/fuselage/src/components/States/StatesSubtitle.tsx
  packages/fuselage/src/components/States/StatesSuggestion.tsx
  packages/fuselage/src/components/States/StatesSuggestionList.tsx
  packages/fuselage/src/components/States/StatesSuggestionListItem.tsx
  packages/fuselage/src/components/States/StatesSuggestionText.tsx
  packages/fuselage/src/components/States/StatesTitle.tsx
  packages/fuselage/src/components/States/index.tsx
  packages/fuselage/src/components/index.ts
Labels: 📦 fuselage

#583 chore(fuselage): Missing sidebar item icon prop
  packages/fuselage/src/components/Sidebar/Item.tsx
Labels: 📦 fuselage

#575 feat(onboarding-ui): Create new account page
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.loki/reference/desktop_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/desktop_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/.loki/reference/mobile_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/mobile_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/.loki/reference/tablet_forms_NewAccountForm_NewAccountForm.png
  packages/onboarding-ui/.loki/reference/tablet_pages_CreateNewAccountPage_Create_New_Account_Page.png
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.spec.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.stories.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/NewAccountForm.tsx
  packages/onboarding-ui/src/forms/NewAccountForm/index.ts
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.spec.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/index.ts
Labels: 📦 onboarding-ui

#588 fix(fuselage-hooks): usePosition fallback
  packages/fuselage-hooks/src/usePosition.ts
Labels: 📦 fuselage-hooks

#590 chore: Message subcomponents export
  packages/fuselage/src/components/Message/index.tsx
Labels: 📦 fuselage

#585 feat(onboarding-ui): add reset password flow
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.loki/reference/desktop_forms_CreateNewPassword_CreateNewPassword.png
  packages/onboarding-ui/.loki/reference/desktop_forms_ResetPasswordForm_ResetPasswordForm.png
  packages/onboarding-ui/.loki/reference/desktop_pages_CreateNewPasswordPage_CreateNewPasswordPage.png
  packages/onboarding-ui/.loki/reference/desktop_pages_ResetPasswordConfirmationPage_ResetPasswordConfirmationPage.png
  packages/onboarding-ui/.loki/reference/desktop_pages_ResetPasswordPage_ResetPasswordPage.png
  packages/onboarding-ui/.loki/reference/mobile_forms_CreateNewPassword_CreateNewPassword.png
  packages/onboarding-ui/.loki/reference/mobile_forms_ResetPasswordForm_ResetPasswordForm.png
  packages/onboarding-ui/.loki/reference/mobile_pages_CreateNewPasswordPage_CreateNewPasswordPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_ResetPasswordConfirmationPage_ResetPasswordConfirmationPage.png
  packages/onboarding-ui/.loki/reference/mobile_pages_ResetPasswordPage_ResetPasswordPage.png
  packages/onboarding-ui/.loki/reference/tablet_forms_CreateNewPassword_CreateNewPassword.png
  packages/onboarding-ui/.loki/reference/tablet_forms_ResetPasswordForm_ResetPasswordForm.png
  packages/onboarding-ui/.loki/reference/tablet_pages_CreateNewPasswordPage_CreateNewPasswordPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_ResetPasswordConfirmationPage_ResetPasswordConfirmationPage.png
  packages/onboarding-ui/.loki/reference/tablet_pages_ResetPasswordPage_ResetPasswordPage.png
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.spec.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.stories.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/CreateNewPassword.tsx
  packages/onboarding-ui/src/forms/CreateNewPassword/index.ts
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.spec.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.stories.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/onboarding-ui/src/forms/ResetPasswordForm/index.ts
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.spec.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.stories.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/index.ts
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.spec.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.stories.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/ResetPasswordConfirmationPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordConfirmationPage/index.ts
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.spec.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.stories.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/index.ts
Labels: 📦 onboarding-ui

#596 feat(icons): New icons
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Icon_Default.png
  packages/icons/glyphsMapping.json
  packages/icons/src/circle-exclamation.svg
  packages/icons/src/emoji-neutral.svg
Labels: 📦 icons

#600 fix(fuselage-ui-kit): Initial Value being ignored on text input fields upon modal update
  packages/fuselage-ui-kit/src/contexts/kitContext.ts
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/fuselage-ui-kit/src/surfaces/FuselageSurfaceRenderer.tsx
Labels: 🐛 Bug, 📦 fuselage-ui-kit

#599 chore(fuselage, fuselage-tokens): Update new typography
  packages/fuselage-tokens/src/typography.jsonc
  packages/fuselage-tokens/typography.js
  packages/fuselage-tokens/typography.json
  packages/fuselage-tokens/typography.mjs
  packages/fuselage-tokens/typography.scss
  packages/fuselage-ui-kit/src/blocks/SectionBlock.tsx
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Props_Font_scales.png
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Props_Font_sizes.png
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Props_Font_weights.png
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Props_Letter_spacing.png
  packages/fuselage/.loki/reference/chrome_iphone7_Box_Props_Line_heights.png
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Options_Option_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Props_Font_scales.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Props_Font_sizes.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Props_Font_weights.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Props_Letter_spacing.png
  packages/fuselage/.loki/reference/chrome_laptop_Box_Props_Line_heights.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Options_Option_Default.png
  packages/fuselage/src/components/Accordion/Accordion.stories.mdx
  packages/fuselage/src/components/Accordion/Item.stories.mdx
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/richContent.stories.mdx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Chip/styles.scss
  packages/fuselage/src/components/Field/styles.scss
  packages/fuselage/src/components/InputBox/styles.scss
  packages/fuselage/src/components/Label/styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Options/Option/Option.stories.mdx
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/OptionsPaginated/styles.scss
  packages/fuselage/src/components/Select/Select.js
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.js
  packages/fuselage/src/components/Sidebar/styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Table/index.js
  packages/fuselage/src/components/Table/styles.scss
  packages/fuselage/src/components/Tag/styles.scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/onboarding-ui/src/common/Form/FormSubtitle.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/OptionCard/Title.tsx
  packages/onboarding-ui/src/pages/CreateNewPasswordPage/CreateNewPasswordPage.tsx
  packages/onboarding-ui/src/pages/LoginPage/LoginPage.tsx
  packages/onboarding-ui/src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Labels: 📦 fuselage, 📦 fuselage-tokens
