Repository RocketChat/fuselage, pull requests merged in 2021-06, with the labels that each got.

#465 fix: Typings for Position and PositionAnimated properly exported
  packages/fuselage/src/components/Box/index.d.ts
Labels: 📦 fuselage

#469 fix(string-helpers): typesVersions
  packages/string-helpers/package.json
Labels: 📦 string-helpers

#463 feat: onboarding-ui package
  .github/workflows/cd.yml
  .github/workflows/ci-pr-closed.yml
  .github/workflows/ci-pr-opened.yml
  .github/workflows/ci-pr.yml
  .vscode/settings.json
  README.md
  packages/fuselage/README.md
  packages/onboarding-ui/.eslintignore
  packages/onboarding-ui/.eslintrc.js
  packages/onboarding-ui/.gitignore
  packages/onboarding-ui/.loki/reference/chrome_iphone7_MyComponent_My_Component.png
  packages/onboarding-ui/.loki/reference/chrome_laptop_MyComponent_My_Component.png
  packages/onboarding-ui/.prettierignore
  packages/onboarding-ui/.prettierrc.js
  packages/onboarding-ui/.storybook/logo.svg
  packages/onboarding-ui/.storybook/logo.svg.d.ts
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/.storybook/manager.ts
  packages/onboarding-ui/.storybook/preview-head.html
  packages/onboarding-ui/.storybook/preview.ts
  packages/onboarding-ui/CHANGELOG.md
  packages/onboarding-ui/README.md
  packages/onboarding-ui/babel.config.js
  packages/onboarding-ui/jest.config.js
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/MyComponent.spec.tsx
  packages/onboarding-ui/src/MyComponent.stories.tsx
  packages/onboarding-ui/src/MyComponent.tsx
  packages/onboarding-ui/src/common/.gitignore
  packages/onboarding-ui/src/emails/.gitignore
  packages/onboarding-ui/src/forms/.gitignore
  packages/onboarding-ui/src/index.ts
  packages/onboarding-ui/src/pages/.gitignore
  packages/onboarding-ui/tsconfig-cjs.json
  packages/onboarding-ui/tsconfig-esm.json
  packages/onboarding-ui/tsconfig.json
  packages/onboarding-ui/typedoc.json
  yarn.lock
Labels: 📦 onboarding-ui

#477 fix(fuselage): Fuselage production build
  packages/fuselage/index.js
Labels: 📦 fuselage

#474 feat(ui-kit): Attachment Surface
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserAttachment.spec.ts
  packages/ui-kit/src/rendering/surfaces/UiKitParserAttachment.ts
  packages/ui-kit/src/rendering/surfaces/uiKitAttachment.ts
Labels: 📦 ui-kit

#472 chore: Update icon building readme
  packages/icons/README.md
Labels: 📕 Documentation

#471 chore: New icons
  packages/fuselage/.loki/reference/chrome_iphone7_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_iphone7_Sidebar_TopBar_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Misc_Icon_Default.png
  packages/fuselage/.loki/reference/chrome_laptop_Sidebar_TopBar_Default.png
  packages/icons/glyphsMapping.json
  packages/icons/src/balloon.svg
  packages/icons/src/bold.svg
  packages/icons/src/error-circle.svg
  packages/icons/src/headphone-off.svg
  packages/icons/src/headphone.svg
  packages/icons/src/italic.svg
  packages/icons/src/list-bullets.svg
  packages/icons/src/list-numbers.svg
  packages/icons/src/strike.svg
  packages/icons/src/success-circle.svg
  packages/icons/src/underline.svg
  packages/icons/src/volume-lock.svg
Labels: 📦 icons

#478 feat(onboarding-ui): Common components
  packages/css-in-js/src/sheet.ts
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useDarkMode.ts
  packages/fuselage/.loki/reference/chrome_iphone7_Data_Display_Tooltip_Arrow_Positioning.png
  packages/fuselage/.loki/reference/chrome_laptop_Data_Display_Tooltip_Arrow_Positioning.png
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.d.ts
  packages/fuselage/src/components/Box/AnimatedVisibility/AnimatedVisibility.js
  packages/fuselage/src/components/Box/AnimatedVisibility/index.ts
  packages/fuselage/src/components/Box/index.d.ts
  packages/fuselage/src/components/PasswordInput/PasswordInput.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/tsconfig-bundle.json
  packages/fuselage/webpack.config.js
  packages/onboarding-ui/.eslintrc.js
  packages/onboarding-ui/.lintstagedrc.json
  packages/onboarding-ui/.loki/.gitignore
  packages/onboarding-ui/.loki/reference/chrome_iphone7_MyComponent_My_Component.png
  packages/onboarding-ui/.loki/reference/chrome_laptop_MyComponent_My_Component.png
  packages/onboarding-ui/.loki/reference/desktop_common_BackgroundLayer_Dark_Mode.png
  packages/onboarding-ui/.loki/reference/desktop_common_BackgroundLayer_Light_Mode.png
  packages/onboarding-ui/.loki/reference/desktop_common_BackgroundLayer_System_Dark_Mode.png
  packages/onboarding-ui/.loki/reference/desktop_common_RocketChatLogo_RocketChatLogo.png
  packages/onboarding-ui/.loki/reference/mobile_common_BackgroundLayer_Dark_Mode.png
  packages/onboarding-ui/.loki/reference/mobile_common_BackgroundLayer_Light_Mode.png
  packages/onboarding-ui/.loki/reference/mobile_common_BackgroundLayer_System_Dark_Mode.png
  packages/onboarding-ui/.loki/reference/mobile_common_RocketChatLogo_RocketChatLogo.png
  packages/onboarding-ui/.loki/reference/tablet_common_BackgroundLayer_Dark_Mode.png
  packages/onboarding-ui/.loki/reference/tablet_common_BackgroundLayer_Light_Mode.png
  packages/onboarding-ui/.loki/reference/tablet_common_BackgroundLayer_System_Dark_Mode.png
  packages/onboarding-ui/.loki/reference/tablet_common_RocketChatLogo_RocketChatLogo.png
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/MyComponent.stories.tsx
  packages/onboarding-ui/src/MyComponent.tsx
  packages/onboarding-ui/src/common/.gitignore
  packages/onboarding-ui/src/common/BackgroundLayer.spec.tsx
  packages/onboarding-ui/src/common/BackgroundLayer.stories.tsx
  packages/onboarding-ui/src/common/BackgroundLayer.styles.tsx
  packages/onboarding-ui/src/common/BackgroundLayer.tsx
  packages/onboarding-ui/src/common/BackgroundLayer/LowerCornerStripes.tsx
  packages/onboarding-ui/src/common/BackgroundLayer/UpperCornerStripes.tsx
  packages/onboarding-ui/src/common/InformationTooltipTrigger.spec.tsx
  packages/onboarding-ui/src/common/InformationTooltipTrigger.stories.tsx
  packages/onboarding-ui/src/common/InformationTooltipTrigger.tsx
  packages/onboarding-ui/src/common/RocketChatLogo.spec.tsx
  packages/onboarding-ui/src/common/RocketChatLogo.stories.tsx
  packages/onboarding-ui/src/common/RocketChatLogo.tsx
  packages/onboarding-ui/src/common/TooltipWrapper.spec.tsx
  packages/onboarding-ui/src/common/TooltipWrapper.stories.tsx
  packages/onboarding-ui/src/common/TooltipWrapper.tsx
  packages/onboarding-ui/src/hooks/useStyle.ts
  packages/onboarding-ui/src/index.ts
  yarn.lock
Labels: 📦 onboarding-ui
