Repository RocketChat/fuselage, pull requests merged in 2022-02, with the labels that each got.

#633 chore(fuselage): Convert from js to ts
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Menu/index.d.ts
  packages/fuselage/src/components/Menu/index.ts
  packages/fuselage/src/components/Options/Options.tsx
Labels: 📦 fuselage

#638 improve(fuselage): Add customEmpty to Options
  packages/fuselage/src/components/MultiSelect/MultiSelect.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
Labels: 📦 fuselage

#642 improve(onboarding-ui): Render back button conditionally
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.stories.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
Labels: 📦 onboarding-ui

#644 chore(icons): Update OTR icons
  packages/fuselage/src/components/Icon/IconsList.ts
  packages/icons/glyphsMapping.json
  packages/icons/src/shredder.svg
  packages/icons/src/stopwatch.dir.svg
Labels: 📦 icons

#639 feat(fuselage): Add custom Icon to Select Component
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
Labels: 📦 fuselage

#647 feat(fuselage): Flexibility to render custom option inside Options
  packages/fuselage/src/components/Options/CheckOption.tsx
  packages/fuselage/src/components/Options/Option/OptionHeader.tsx
  packages/fuselage/src/components/Options/Option/OptionIcon.tsx
  packages/fuselage/src/components/Options/Option/index.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/styles.scss
Labels: 📦 fuselage

#651 fix(fuselage,regression): `MultiSelect` errors
  packages/fuselage/package.json
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/helpers/isForwardRefType.ts
  yarn.lock
Labels: 📦 fuselage

#650 feat(fuselage): Extend menu options props
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/Options.stories.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/styles.scss
  packages/fuselage/src/components/Options/useCursor.ts
Labels: 📦 fuselage

#645 feat(fuselage): MultiSelect improvements
  packages/fuselage-hooks/src/useAutoFocus.ts
  packages/fuselage-ui-kit/src/elements/LinearScaleElement.tsx
  packages/fuselage-ui-kit/src/elements/MultiStaticSelectElement.tsx
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage-ui-kit/src/hooks/useUiKitState.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelect.js
  packages/fuselage/src/components/MultiSelect/MultiSelect.stories.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectAnchorParams.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.d.ts
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.js
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Select/Select.spec.tsx
  packages/fuselage/src/components/Select/Select.stories.tsx
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/onboarding-ui/src/forms/CreateCloudWorkspaceForm/CreateCloudWorkspaceForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RequestTrialForm/RequestTrialForm.tsx
  packages/onboarding-ui/src/pages/CreateCloudWorkspacePage/CreateCloudWorkspacePage.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
  packages/ui-kit/src/blocks/elements/MultiStaticSelectElement.ts
  packages/ui-kit/src/blocks/elements/StaticSelectElement.ts
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/rendering/ActionOf.ts
Labels: 📦 fuselage

#653 fix(fuselage, regression): MultiSelectFiltered
  package.json
  packages/eslint-config-alt/typescript/index.js
  packages/fuselage-ui-kit/src/blocks/ImageBlock.styles.tsx
  packages/fuselage-ui-kit/src/elements/ImageElement.styles.tsx
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Message/MessageBlock.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFiltered.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelectFilteredAnchor.tsx
  packages/fuselage/src/components/Position/Position.tsx
  packages/fuselage/src/components/PositionAnimated/PositionAnimated.tsx
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelect.tsx
  packages/fuselage/src/components/SelectPaginated/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.styles.tsx
  packages/onboarding-ui/src/common/BackgroundLayer.styles.tsx
  packages/onboarding-ui/src/common/FormPageLayout.styles.tsx
  packages/onboarding-ui/src/common/List/List.styles.tsx
  packages/styled/src/styled.spec.ts
  turbo.json
Labels: 📦 fuselage

#654 fix(fuselage, regression): Select filter and anchor overhaul
  packages/fuselage/src/components/Select/Select.tsx
  packages/fuselage/src/components/Select/SelectAnchorParams.ts
  packages/fuselage/src/components/Select/SelectFiltered.tsx
  packages/fuselage/src/components/Select/SelectFilteredAnchor.tsx
Labels: 📦 fuselage

#655 fix(fuselage, regression): listen for clicks on `Select` options
  packages/fuselage/src/components/Select/Select.tsx
Labels: 📦 fuselage
