Repository RocketChat/fuselage, pull requests merged in 2022-11, with the labels that each got.

#892 fix(fuselage): Avatar border and Tag alignment
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Tag/Tag.styles.scss
Labels: 📦 fuselage

#894 fix(message-parser): User mention with @ character
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Labels: 📦 message-parser

#905 feat(fuselage): Update Banner Component style
  packages/fuselage/src/components/Banner/Banner.stories.js
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Banner/Banner.tsx
Labels: 📦 fuselage

#907 chore(icons): Add double chevron and equal icons
  packages/icons/glyphsMapping.json
  packages/icons/src/chevron-double-down.svg
  packages/icons/src/chevron-double-up.svg
  packages/icons/src/equal.svg
Labels: 📦 icons

#912 fix(fuselage): Update Banner Styles
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/styles/mixins/all.scss
  packages/fuselage/src/styles/mixins/elevation.scss
Labels: 📦 fuselage

#915 chore(fuselage, fuselage-tokens): Add badge tokens
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage, 📦 fuselage-tokens

#917 chore(fuselage): z-index sanitization on Banner and ToastBar
  packages/fuselage-toastbar/src/ToastBarZone.tsx
  packages/fuselage/src/components/Banner/Banner.styles.scss
Labels: 📦 fuselage

#918 chore(fuselage, fuselage-tokens): Update tokens
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage, 📦 fuselage-tokens
