Repository RocketChat/fuselage, pull requests merged in 2022-09, with the labels that each got.

#841 fix(fuselage): `StatusBullet` styles
  packages/fuselage-tokens/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  yarn.lock
Labels: 🐛 Bug, 💅 Styles, 📦 fuselage

#840 feat(fuselage): Vertical Divider
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Divider/Divider.tsx
Labels: 📦 fuselage

#845 chore: change font weight on FormPageLayout according to figma
  packages/layout/src/FormPageLayout/FormPageLayout.styles.tsx
Labels: 💅 Styles

#836 chore: New underline variant for the Tabs component
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.tsx
Labels: 📦 fuselage

#847 feat(message-parser): Add Matrix Protocol username pattern to User Mention
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/mention.test.ts
Labels: 📦 message-parser

#853 feat(fuselage): Adds wordbreak in Box Component
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
Labels: 📦 fuselage
