Repository RocketChat/fuselage, pull requests merged in 2022-06, with the labels that each got.

#740 fix(fuselage): kebab menu click not working properly
  packages/fuselage/src/components/Menu/Menu.tsx
Labels: 📦 fuselage

#743 refactor(fuselage-hooks): Prepare for React 18's `useSyncExternalStore`
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/package.json
  packages/fuselage-hooks/src/useMediaQueries.ts
  yarn.lock
Labels: 🎣 Hooks, 📦 fuselage-hooks

#734 fix(usePosition): change style when target doesn't fit screen container
  packages/fuselage-hooks/src/usePosition.spec.ts
  packages/fuselage-hooks/src/usePosition.ts
Labels: 📦 fuselage-hooks

#753 fix(message-parser): Expand emoji detection
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/emoji.test.ts
Labels: 📦 message-parser

#754 fix(fuselage): IconButton hover color
  packages/fuselage/src/styles/variables/buttons.scss
Labels: 📦 fuselage
