Repository RocketChat/fuselage, pull requests merged in 2022-10, with the labels that each got.

#855 fix(message-parser): Link/URL parser issues
  packages/message-parser/src/definitions.ts
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/emphasis.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/phoneNumber.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/strongEmphasis.test.ts
  packages/message-parser/tests/tasks.test.ts
  packages/message-parser/tests/url.test.ts
Labels: 📦 message-parser

#860 feat(fuselage): Modal Hero Image
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
  packages/fuselage/src/components/Modal/index.ts
Labels: 📦 fuselage

#861 fix(message-parser): Backtick char in domainChar
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/tests/inlineCode.test.ts
Labels: 📦 message-parser

#862 fix(fuselage): Callout Component Style Update
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.styles.scss
Labels: 📦 fuselage

#852 fix(message-parser): Message parser issues
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/emoji.test.ts
  packages/message-parser/tests/emoticons.test.ts
  packages/message-parser/tests/inlineCode.test.ts
  packages/message-parser/tests/link.test.ts
Labels: 📦 message-parser

#835 chore(fuselage, fuselage-tokens): Tooltip dark variant
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/components/Tooltip/Tooltip.spec.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.stories.tsx
  packages/fuselage/src/components/Tooltip/Tooltip.styles.scss
  packages/fuselage/src/components/Tooltip/Tooltip.tsx
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage, 📦 fuselage-tokens

#865 fix(fuselage): Tag not receiving props properly
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/components/Tag/Tag.tsx
Labels: 📦 fuselage

#866 chore(fuselage): Add elevation to ToastBar Component
  packages/fuselage/src/components/ToastBar/ToastBar.stories.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
Labels: 📦 fuselage

#869 chore(fuselage): Color Palette
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Box/props.stories.mdx
  packages/fuselage/src/components/Box/stylingProps.ts
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/helpers/toCSSValue.ts
  packages/fuselage/src/index.ts
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage

#878 chore(fuselage): Modal hero image wrapper
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Modal/ModalHeroImage.tsx
Labels: 📦 fuselage

#873 fix(fuselage): Palette classes
  packages/fuselage/src/components/Accordion/Accordion.styles.scss
  packages/fuselage/src/components/Avatar/Avatar.styles.scss
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Chip/Chip.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Labels: 📦 fuselage

#881 feat(fuselage): Callout Custom Icon
  packages/fuselage/src/components/Callout/Callout.stories.tsx
  packages/fuselage/src/components/Callout/Callout.tsx
Labels: 📦 fuselage

#882 fix(fuselage): Message Toolbox margin
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  yarn.lock
Labels: 📦 fuselage

#876 feat(fuselage): Empty `Badge` and small variants
  packages/fuselage/src/components/Badge/Badge.stories.tsx
  packages/fuselage/src/components/Badge/Badge.styles.scss
  packages/fuselage/src/components/Badge/Badge.tsx
Labels: 📦 fuselage

#886 chore(icons): Add lightning icon
  packages/icons/glyphsMapping.json
  packages/icons/src/lightning.svg
Labels: 📦 icons

#884 chore(fuselage, fuselage-tokens): Update surface-hover color
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage, 📦 fuselage-tokens
