Repository RocketChat/fuselage, pull requests merged in 2023-07, with the labels that each got.

#1098 chore(icons): Add flask icon
  packages/icons/glyphsMapping.json
  packages/icons/src/flask.svg
Labels: 📦 icons

#1099 fix(emitter): `off()` ignoring handler check when one listener remains
  packages/emitter/src/emitter.spec.ts
  packages/emitter/src/index.ts
Labels: 🐛 Bug, 📦 emitter

#1100 chore(icons): Update flask icon stroke
  packages/icons/src/flask.svg
Labels: 📦 icons

#1101 chore(fuselage): update `MenuV2` className prop type
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Labels: 📦 fuselage

#1102 chore(fuselage): `MenuV2` item variants
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/MenuItem.tsx
Labels: 📦 fuselage

#1106 fix(fuselage): `MenuV2` behavior on touch press
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Labels: 📦 fuselage

#1107 chore(fuselage): Improve UX on `Button` click
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/styles/mixins/size.scss
  packages/fuselage/src/styles/primitives/button.scss
  packages/fuselage/src/styles/variables/buttons.scss
Labels: 📦 fuselage

#1104 chore(fuselage): `AudioPlayer` margins
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Labels: 📦 fuselage

#1109 chore(fuselage): `MenuV2` custom button
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/ui-kit/package.json
  yarn.lock
Labels: 📦 fuselage

#1108 chore(fuselage): button sizes
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
Labels: 📦 fuselage

#1112 chore(fuselage): Improve `Icon` usage inside `Button`
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.tsx
Labels: 📦 fuselage

#1113 chore(fuselage): Drop dot notation for `Tabs` component
  packages/fuselage/src/components/Tabs/Tabs.stories.tsx
  packages/fuselage/src/components/Tabs/Tabs.tsx
  packages/fuselage/src/components/Tabs/index.tsx
Labels: 📦 fuselage

#1114 chore(fuselage): `IconButton` animated
  packages/fuselage/src/components/Button/IconButton.tsx
Labels: 📦 fuselage

#1116 chore(icons): Add new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/smart.svg
  packages/icons/src/tag.svg
Labels: 📦 icons

#1118 chore(fuselage): `Button` transition tweaks
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/styles/primitives/box.scss
Labels: 📦 fuselage

#1120 chore(icons): add person-arms-spread icon
  packages/icons/glyphsMapping.json
  packages/icons/src/person-arms-spread.svg
Labels: 📦 icons

#1121 chore(fuselage): Add button role to `Accordion` heading
  packages/fuselage/.storybook/main.js
  packages/fuselage/package.json
  packages/fuselage/src/components/Accordion/AccordionItem.tsx
  yarn.lock
Labels: 📦 fuselage
