Repository RocketChat/fuselage, pull requests merged in 2023-03, with the labels that each got.

#993 fix(message-parser): Differ `link`, `autoLink`, and `autoEmail` helpers
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/email.test.ts
  packages/message-parser/tests/link.test.ts
  packages/message-parser/tests/strikethrough.test.ts
  packages/message-parser/tests/url.test.ts
Labels: 📦 message-parser

#994 fix(fuselage): Adjusted PaginatedMultiSelect to keep received/returned values consistent
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/index.ts
Labels: 🐛 Bug

#1004 fix(fuselage): selected-messages color
  packages/fuselage/src/components/Message/Messages.styles.scss
Labels: 📦 fuselage

#1003 chore(onboarding-ui, layout): Login and Register page tweaks
  packages/layout/src/ActionLink.tsx
  packages/onboarding-ui/src/forms/LoginForm/LoginForm.tsx
  packages/onboarding-ui/src/pages/CreateNewAccountPage/CreateNewAccountPage.tsx
Labels: 📦 onboarding-ui

#1006 feat(fuselage): Skeleton Circle Variant
  packages/fuselage/src/components/Skeleton/Skeleton.stories.tsx
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/Skeleton/Skeleton.tsx
Labels: 📦 fuselage

#1002 feat(onboarding-ui): remove type field in company data section
  packages/onboarding-ui/src/flows/SelfHostedRegistration/mocks.ts
  packages/onboarding-ui/src/flows/SelfHostedRegistration/stories.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.spec.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.stories.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.stories.tsx
  packages/onboarding-ui/src/pages/OrganizationInfoPage/OrganizationInfoPage.tsx
Labels: 📦 onboarding-ui

#1015 chore(onboarding-ui): improve `OauthAuthorizationPage` when clientName is undefined
  packages/onboarding-ui/src/pages/OauthAuthorizationPage/OauthAuthorizationPage.tsx
Labels: 📦 onboarding-ui

#983 fix(fuselage): Multiselect won't update if value changes
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
Labels: 📦 fuselage

#1014 refactor(fuselage): AutoComplete
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Labels: 📦 fuselage

#1010 feat(message-parser): custom domains whitelist
  README.md
  packages/message-parser/src/grammar.pegjs
  packages/message-parser/src/index.ts
  packages/message-parser/src/utils.ts
  packages/message-parser/tests/url.test.ts
Labels: 📦 message-parser
