Repository RocketChat/fuselage, pull requests merged in 2023-02, with the labels that each got.

#975 feat(fuselage): SidebarBanner component
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Sidebar/SidebarBanner.tsx
  packages/fuselage/src/components/Sidebar/index.tsx
Labels: 📦 fuselage

#978 chore(fuselage): Add AllHTMLAtributes to OptionProps type
  packages/fuselage/src/components/Option/Option.tsx
Labels: 📦 fuselage

#981 chore(fuselage): Add disabled prop for options in `Menu` component
  packages/fuselage-ui-kit/src/elements/OverflowElement.tsx
  packages/fuselage/src/components/Menu/Menu.stories.tsx
  packages/fuselage/src/components/Menu/Menu.tsx
  packages/fuselage/src/components/Options/Options.tsx
  packages/fuselage/src/components/Options/useCursor.ts
Labels: 📦 fuselage

#955 chore(deps): Upgrade TypeScript
  packages/css-in-js/package.json
  packages/css-supports/package.json
  packages/emitter/package.json
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-polyfills/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/.storybook/PropsVariation.tsx
  packages/fuselage/src/components/Box/withBoxStyling.tsx
  packages/fuselage/src/helpers/patchChildren.ts
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/memo/package.json
  packages/message-parser/package.json
  packages/mp3-encoder/package.json
  packages/onboarding-ui/package.json
  packages/peggy-loader/package.json
  packages/string-helpers/package.json
  packages/styled/package.json
  packages/stylis-logical-props-middleware/package.json
  packages/ui-kit/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/scripts/package.json
  tools/tools-utils/package.json
  yarn.lock
Labels: dependencies

#984 chore(fuselage, fuselage-tokens): Add overlay color for Modal backdrop
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage, 📦 fuselage-tokens

#985 chore(fuselage): Adjust SidebarActions style
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
Labels: 📦 fuselage

#989 chore(fuselage): Fix InputBox type date color
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
Labels: 📦 fuselage

#991 fix(fuselage): SidebarItem menu glitch on hover
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Labels: 📦 fuselage
