Repository RocketChat/fuselage, pull requests merged in 2023-10, with the labels that each got.

#1187 feat(onboarding-ui): a11y forms improvements
  .changeset/big-apes-agree.md
  .changeset/hip-bats-stare.md
  .changeset/popular-adults-hope.md
  .changeset/stupid-mayflies-look.md
  packages/onboarding-ui/.i18n/en.i18n.json
  packages/onboarding-ui/.storybook/main.ts
  packages/onboarding-ui/package.json
  packages/onboarding-ui/src/forms/AdminInfoForm/AdminInfoForm.tsx
  packages/onboarding-ui/src/forms/OrganizationInfoForm/OrganizationInfoForm.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.tsx
  yarn.lock
Labels: 📦 onboarding-ui

#1189 chore(fuselage): change sidebar-item focus border
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Labels: 📦 fuselage

#1186 feat(fuselage): Update `Button` focus shadow colors
  .changeset/plenty-badgers-carry.md
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/buttons.scss
Labels: 📦 fuselage

#1191 fix(fuselage): `ContextualbarAction` size
  .changeset/cuddly-flowers-crash.md
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
Labels: 📦 fuselage

#1193 fix(fuselage): Remove underline prevention on anchor elements
  .changeset/selfish-scissors-sit.md
  packages/fuselage/src/components/Field/Field.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Labels: 📦 fuselage

#1196 feat(fuselage): change `SidebarItem` focus color
  .changeset/cuddly-cars-jam.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Labels: 📦 fuselage

#1195 feat(fuselage): option to use `Tag` as link
  .changeset/selfish-plants-divide.md
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.tsx
Labels: 📦 fuselage

#1128 feat(fuselage, fuselage-tokens): Update primitive tokens
  .changeset/odd-clocks-love.md
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/background/base.json
  packages/fuselage-tokens/src/button/base.json
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage-tokens/src/font/base.json
  packages/fuselage-tokens/src/status/base.json
  packages/fuselage-tokens/src/stroke/base.json
  packages/fuselage-tokens/src/surface/base.json
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
  packages/fuselage/src/getPaletteColor.ts
  packages/fuselage/src/styleTokens.ts
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
  packages/icons/glyphsMapping.json
  packages/logo/src/RocketChatLogo/RocketChatLogo.tsx
  packages/logo/src/TaggedRocketChatLogo/TaggedRocketChatLogo.tsx
Labels: 📦 fuselage, 📦 fuselage-tokens

#1202 fix(fuselage): `SidebarItem` margins
  .changeset/nine-tomatoes-appear.md
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Labels: 📦 fuselage

#1199 feat(fuselage): change `link:active` color
  .changeset/gentle-carrots-buy.md
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Labels: 📦 fuselage

#1203 feat(fuselage): Add `renderItem` prop to the `PaginatedMultiSelect` component
  .changeset/twelve-yaks-study.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
Labels: 📦 fuselage

#1198 feat(fuselage): New `surface-sidebar` token
  .changeset/shy-weeks-guess.md
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage

#1206 fix(fuselage): change `Callout` text color
  .changeset/clever-brooms-hear.md
  packages/fuselage/src/components/Callout/Callout.styles.scss
Labels: 📦 fuselage

#1205 feat(fuselage): add loading state to `Button`
  .changeset/selfish-tigers-melt.md
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/styles/primitives/button.scss
Labels: 📦 fuselage

#1210 fix(fuselage): add `Callout` missing background-color
  .changeset/quiet-pigs-peel.md
  packages/fuselage/src/components/Callout/Callout.styles.scss
  packages/fuselage/src/components/Callout/Callout.tsx
  packages/fuselage/src/components/Callout/__snapshots__/Callout.spec.tsx.snap
Labels: 📦 fuselage
