Repository RocketChat/fuselage, pull requests merged in 2023-08, with the labels that each got.

#1122 feat(fuselage): `StatesLink` Component
  packages/fuselage/src/components/States/States.stories.tsx
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/StatesLink.tsx
  packages/fuselage/src/components/States/index.tsx
Labels: 📦 fuselage

#1125 chore(ci): Remove auto bump step
  .github/workflows/cd.yml
Labels: 🛠 CI

#1130 chore(fuselage): `Toastbar` a11y
  packages/fuselage/package.json
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.tsx
  yarn.lock
Labels: 📦 fuselage

#1136 chore(fuselage): button click animation
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
Labels: 📦 fuselage

#1137 chore(fuselage): `Table` background-color
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/Table/Table.stories.tsx
  packages/fuselage/src/components/Table/Table.styles.scss
Labels: 📦 fuselage

#1139 refactor(ui-kit): Review some types
  packages/ui-kit/src/blocks/TextObject.ts
  packages/ui-kit/src/blocks/WithTranslations.ts
  packages/ui-kit/src/blocks/text/Markdown.ts
  packages/ui-kit/src/blocks/text/PlainText.ts
  packages/ui-kit/src/index.ts
Labels: 📦 ui-kit

#1138 chore(fuselage): `Field` & `Label` best practices adjustments
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Field/Field.stories.tsx
  packages/fuselage/src/components/Field/Field.tsx
  packages/fuselage/src/components/Field/FieldDescription.tsx
  packages/fuselage/src/components/Field/FieldError.tsx
  packages/fuselage/src/components/Field/FieldHint.tsx
  packages/fuselage/src/components/Field/FieldLabel.tsx
  packages/fuselage/src/components/Field/FieldLink.tsx
  packages/fuselage/src/components/Field/FieldRow.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Field/index.tsx
  packages/fuselage/src/components/Label/Label.spec.tsx
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/helpers/WithErrorWrapper.tsx
Labels: 📦 fuselage

#1141 chore(fuselage): change `FieldLabel` typography
  packages/fuselage/src/components/Field/Field.styles.scss
Labels: 📦 fuselage

#1143 fix(fuselage): `MessageReactionAction` icon size
  packages/fuselage/src/components/Message/MessageReactions/MessageReactionAction.tsx
Labels: 📦 fuselage

#1145 chore(fuselage): Checkbox best practices adjustments
  packages/fuselage/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/Label/Label.styles.scss
  packages/fuselage/src/components/Label/Label.tsx
  packages/fuselage/src/components/Label/__snapshots__/Label.spec.tsx.snap
Labels: 📦 fuselage

#1146 chore(fuselage): `ToggleSwitch` best practices adjustments
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/Field/__snapshots__/Field.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.spec.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Labels: 📦 fuselage

#1144 chore(fuselage): `Button` size
  packages/fuselage/.jest/setup.ts
  packages/fuselage/src/components/Accordion/Accordion.spec.tsx
  packages/fuselage/src/components/Button/Button.spec.tsx
  packages/fuselage/src/components/Button/Button.stories.tsx
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/Button.tsx
  packages/fuselage/src/components/Button/IconButton.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.spec.tsx
  packages/fuselage/src/components/Field/Field.spec.tsx
  packages/fuselage/src/components/Label/Label.spec.tsx
  packages/fuselage/src/components/Table/Table.spec.tsx
  packages/fuselage/src/components/ToastBar/ToastBar.spec.tsx
Labels: 📦 fuselage
