Repository RocketChat/fuselage, pull requests merged in 2023-06, with the labels that each got.

#1068 chore(fuselage): Remove spacedColumn from `Option` component
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/Option/Option.tsx
Labels: 📦 fuselage

#1070 revert(fuselage): Remove `maxWidth` from `Contextualbar`
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Labels: 📦 fuselage

#1072 chore(fuselage): add `Option` gap
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.tsx
Labels: 📦 fuselage

#1079 chore(icons): User-lock and dashboard fill rules
  packages/icons/glyphsMapping.json
  packages/icons/src/dashboard.svg
  packages/icons/src/user-lock.svg
Labels: 📦 icons

#1080 feat(fuselage): `TableCell` empty fallback
  packages/fuselage/src/components/Table/Table.tsx
  packages/fuselage/src/components/Table/TableCell.tsx
  packages/fuselage/src/components/Table/index.ts
  packages/fuselage/src/components/index.ts
Labels: 📦 fuselage

#1076 chore(fuselage, icons): `AudioPlayer` redesign
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/icons/glyphsMapping.json
  packages/icons/src/pause-shape-filled.svg
  packages/icons/src/play-shape-filled.svg
Labels: 📦 fuselage, 📦 icons

#1082 fix(fuselage): `TableCell` children render
  packages/fuselage/src/components/Table/TableCell.tsx
Labels: 📦 fuselage

#1084 chore(fuselage): adjust `ButtonGroup` pseudo-selectors
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
Labels: 📦 fuselage

#1089 fix(fuselage): `MenuV2` behavior
  packages/fuselage/src/components/Dropdown/Dropdown.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Dropdown/DropdownDesktopWrapper.tsx
  packages/fuselage/src/components/Dropdown/DropdownMobile.tsx
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
  packages/fuselage/src/components/Menu/V2/helpers/helpers.ts
Labels: 📦 fuselage

#1092 chore(fuselage): change `AudioPlayer` bg color
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Labels: 📦 fuselage

#1093 chore(fuselage): `MenuV2` expose pressed prop
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Labels: 📦 fuselage
