Repository RocketChat/fuselage, pull requests merged in 2023-09, with the labels that each got.

#1155 fix(fuselage): `IconButton` with badge click-animation
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Labels: 📦 fuselage

#1157 chore(fuselage): color a11y report changes
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageMetrics/MessageMetrics.styles.scss
  packages/fuselage/src/components/Message/MessageSystem/MessageSystem.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Modal/Modal.styles.scss
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
Labels: 📦 fuselage

#1158 fix(fuselage): prevent button-disabled click animation
  packages/fuselage/src/styles/primitives/button.scss
Labels: 📦 fuselage

#1161 fix(fuselage): `OptionInput` margins and alignment
  packages/fuselage/src/components/Menu/V2/Menu.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
Labels: 📦 fuselage

#1160 chore(ci): Add changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/cd.yml
  package.json
  yarn.lock
Labels: 🛠 CI

#1165 chore: Improve continuous delivery
  .changeset/calm-suits-fail.md
  .changeset/config.json
  .changeset/dull-walls-bake.md
  .changeset/early-spoons-return.md
  .changeset/eighty-fans-fold.md
  .changeset/funny-pets-grow.md
  .changeset/honest-eels-complain.md
  .changeset/kind-lions-love.md
  .changeset/little-stingrays-jump.md
  .changeset/moody-dingos-rest.md
  .changeset/neat-fishes-confess.md
  .changeset/nice-cows-relax.md
  .changeset/odd-hornets-sing.md
  .changeset/old-terms-reflect.md
  .changeset/plenty-donuts-poke.md
  .changeset/real-pots-heal.md
  .changeset/shy-cows-sort.md
  .changeset/silver-schools-allow.md
  .changeset/sour-bears-rest.md
  .changeset/sour-dolphins-breathe.md
  .changeset/stale-hairs-mate.md
  .changeset/stupid-emus-hunt.md
  .changeset/sweet-bulldogs-press.md
  .changeset/tall-eels-cover.md
  .changeset/two-lies-sin.md
  .changeset/wicked-tools-relax.md
  .github/workflows/cd.yml
  .github/workflows/codeql.yml
Labels: 🛠 CI

#1169 fix(fuselage): Memory leak in `PaginatedMultiSelect`
  .changeset/famous-students-sin.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelectFiltered.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.stories.tsx
  packages/fuselage/src/components/PaginatedSelect/index.ts
Labels: 🐛 Bug, 📦 fuselage

#1163 feat(icons): Add rocketchat icon
  .changeset/shaggy-carrots-guess.md
  packages/icons/glyphsMapping.json
  packages/icons/src/legacy/brands/rocketchat.svg
Labels: 📦 icons

#1168 fix(fuselage): `AutoComplete` a11y best practices improvement
  .changeset/swift-rules-deliver.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/AutoComplete/__snapshots__/AutoComplete.spec.tsx.snap
Labels: 📦 fuselage

#1172 chore(fuselage): Sidebar links style
  packages/fuselage/src/components/Sidebar/Sidebar.stories.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
Labels: 📦 fuselage

#1173 fix(fuselage): improve focus state color
  .changeset/hot-bears-shout.md
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/selection-button.scss
  packages/fuselage/src/styles/variables/input-colors.scss
Labels: 📦 fuselage

#1178 fix(fuselage): className prop drilling improvements on `CheckBox`, `ToggleSwitch` and `RadioButton`
  .changeset/shaggy-deers-impress.md
  packages/fuselage/.storybook/helpers.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.stories.tsx
  packages/fuselage/src/components/CheckBox/CheckBox.tsx
  packages/fuselage/src/components/CheckBox/__snapshots__/CheckBox.spec.tsx.snap
  packages/fuselage/src/components/RadioButton/RadioButton.spec.tsx
  packages/fuselage/src/components/RadioButton/RadioButton.tsx
  packages/fuselage/src/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.tsx
  packages/fuselage/src/components/ToggleSwitch/__snapshots__/ToggleSwitch.spec.tsx.snap
Labels: 📦 fuselage

#1179 fix(fuselage): `PaginatedSelect` tooltip not working
  .changeset/thin-candles-doubt.md
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
Labels: 📦 fuselage
