Repository RocketChat/fuselage, pull requests merged in 2023-01, with the labels that each got.

#856 feat(fuselage): `Modal` wrapper option
  .github/workflows/codeql.yml
  packages/eslint-config-alt/package.json
  packages/fuselage-hooks/package.json
  packages/fuselage-toastbar/package.json
  packages/fuselage-tokens/package.json
  packages/fuselage-ui-kit/package.json
  packages/fuselage/package.json
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/webpack.config.js
  packages/icons/package.json
  packages/layout/package.json
  packages/logo/package.json
  packages/message-parser/package.json
  packages/onboarding-ui/package.json
  packages/uikit-playground/package.json
  tools/build-design-tokens/package.json
  tools/lint-all/package.json
  tools/tools-utils/package.json
  yarn.lock
Labels: 📦 fuselage

#948 chore(icons): Add new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/katex.svg
  packages/icons/src/aliases/multiline.dir.svg
  packages/icons/src/aliases/multiline.svg
  packages/icons/src/code-block.svg
  packages/icons/src/formula.svg
Labels: 📦 icons

#943 fix(fuselage): token refactor
  packages/fuselage/src/Theme.ts
  packages/fuselage/src/components/Divider/Divider.styles.scss
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
  packages/fuselage/src/components/Message/MessageReactions/MessageReactions.styles.scss
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.styles.scss
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.styles.scss
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/ThreadMessage/ThreadMessage.styles.scss
  packages/fuselage/src/components/Option/Option.styles.scss
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/Tabs/Tabs.styles.scss
  packages/fuselage/src/components/ToggleSwitch/ToggleSwitch.styles.scss
  packages/fuselage/src/styles/colors.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
  packages/fuselage/src/styles/variables/button-colors.scss
  packages/fuselage/src/styles/variables/input-colors.scss
  packages/uikit-playground/src/Components/Preview/NavPanel/NavPanel.tsx
Labels: 📦 fuselage

#951 chore(fuselage): Replace medium prop as default size of ButtonGroup
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
  packages/fuselage/src/components/Divider/Divider.stories.tsx
  packages/fuselage/src/components/Modal/ModalFooterControllers.tsx
  packages/fuselage/src/components/Sidebar/SidebarActions.tsx
Labels: 📦 fuselage

#952 chore(fuselage): Remove FocusScope from Modal
  packages/fuselage/src/components/Modal/Modal.tsx
  packages/fuselage/webpack.config.js
Labels: 📦 fuselage

#953 chore(fuselage): Change sidebar backgroundColor
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
Labels: 📦 fuselage

#954 chore(fuselage): Update react-virtuoso dep version
  packages/fuselage/package.json
  yarn.lock
Labels: 📦 fuselage

#963 chore(icons): Add `palette` icon
  packages/icons/glyphsMapping.json
  packages/icons/src/aliases/palette.svg
Labels: 📦 icons

#959 feat(fuselage): `Modal` wrapper & wrapperFunction prop
  packages/fuselage/src/components/Modal/Modal.stories.tsx
  packages/fuselage/src/components/Modal/Modal.tsx
Labels: 📦 fuselage

#964 chore(fuselage): `OptionSkeleton` Visual Changes
  packages/fuselage/src/components/Option/OptionSkeleton.tsx
Labels: 📦 fuselage

#967 fix(fuselage-hooks): Fix `usePosition`
  packages/fuselage-hooks/src/usePosition.ts
Labels: 📦 fuselage-hooks

#968 chore(fuselage): Replace input default icons with Addon
  packages/fuselage/src/components/InputBox/InputBox.stories.tsx
  packages/fuselage/src/components/InputBox/InputBox.styles.scss
  packages/fuselage/src/components/InputBox/InputBox.tsx
Labels: 📦 fuselage

#969 chore(fuselage): Apply status-font on icon colors
  packages/fuselage/src/styles/variables/buttons.scss
Labels: 📦 fuselage
