Repository RocketChat/fuselage, pull requests merged in 2023-05, with the labels that each got.

#1043 chore(icons): Add new icons
  packages/icons/glyphsMapping.json
  packages/icons/src/airplane.svg
  packages/icons/src/burger-menu.svg
  packages/icons/src/burger.svg
  packages/icons/src/lamp-bulb.svg
  packages/icons/src/leaf.svg
  packages/icons/src/percentage.svg
  packages/icons/src/rocket.svg
  packages/uikit-playground/src/Components/DropDown/ItemsIcon.tsx
Labels: 📦 icons

#1042 fix(fuselage): change `$message-divider-color-unread`
  packages/fuselage/src/components/Message/MessageDivider/MessageDivider.styles.scss
Labels: 📦 fuselage

#1040 chore(fuselage): status-bullet colors
  packages/fuselage-hooks/src/usePosition/getPositionStyle.ts
  packages/fuselage-tokens/colors.js
  packages/fuselage-tokens/colors.json
  packages/fuselage-tokens/colors.mjs
  packages/fuselage-tokens/colors.scss
  packages/fuselage-tokens/src/colors.jsonc
  packages/fuselage-tokens/src/colors/base.json
  packages/fuselage/src/components/StatusBullet/StatusBullet.styles.scss
  packages/fuselage/src/components/StatusBullet/StatusBullet.tsx
  packages/fuselage/src/components/StatusBullet/icons/Away.tsx
  packages/fuselage/src/components/StatusBullet/icons/Busy.tsx
  packages/fuselage/src/components/StatusBullet/icons/Disabled.tsx
  packages/fuselage/src/components/StatusBullet/icons/Loading.tsx
  packages/fuselage/src/components/StatusBullet/icons/Offline.tsx
  packages/fuselage/src/components/StatusBullet/icons/Online.tsx
  packages/fuselage/src/components/StatusBullet/icons/away.svg
  packages/fuselage/src/components/StatusBullet/icons/busy.svg
  packages/fuselage/src/components/StatusBullet/icons/disabled.svg
  packages/fuselage/src/components/StatusBullet/icons/loading.svg
  packages/fuselage/src/components/StatusBullet/icons/offline.svg
  packages/fuselage/src/styles/colors.scss
Labels: 📦 fuselage, 📦 fuselage-tokens

#1044 chore(fuselage): new `Slider` style
  packages/fuselage/src/components/Slider/SliderThumb.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Labels: 📦 fuselage

#1045 fix(fuselage, fuselage-hooks): `Position`
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage/src/components/Position/Position.tsx
Labels: 📦 fuselage, 📦 fuselage-hooks

#1048 fix(fuselage): `ModalThumb` size
  packages/fuselage/src/components/Modal/ModalThumb.tsx
Labels: 📦 fuselage

#1049 chore(fuselage): Missing `aria-label` on `AudioPlayer`
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
Labels: 📦 fuselage

#1051 chore(fuselage): Change `StatesTitle` to h3
  packages/fuselage/src/components/States/States.styles.scss
  packages/fuselage/src/components/States/States.tsx
  packages/fuselage/src/components/States/StatesAction.tsx
  packages/fuselage/src/components/States/StatesActions.tsx
  packages/fuselage/src/components/States/StatesIcon.tsx
  packages/fuselage/src/components/States/StatesSubtitle.tsx
  packages/fuselage/src/components/States/StatesSuggestion.tsx
  packages/fuselage/src/components/States/StatesSuggestionList.tsx
  packages/fuselage/src/components/States/StatesSuggestionListItem.tsx
  packages/fuselage/src/components/States/StatesSuggestionText.tsx
  packages/fuselage/src/components/States/StatesTitle.tsx
Labels: 📦 fuselage

#1052 fix(fuselage): `AudioPlayer` responsiveness
  packages/fuselage/src/components/AudioPlayer/AudioPlayer.tsx
  packages/fuselage/src/components/Slider/Slider.stories.tsx
  packages/fuselage/src/components/Slider/Slider.tsx
  packages/fuselage/src/components/Slider/SliderTrack.tsx
Labels: 📦 fuselage

#749 feat(fuselage): `Contextualbar` component
  packages/fuselage/src/components/Contextualbar/Contextualbar.stories.tsx
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarAction.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarActions.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarButton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarEmptyContent.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarFooter.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarHeader.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarIcon.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarSkeleton.tsx
  packages/fuselage/src/components/Contextualbar/ContextualbarTitle.tsx
  packages/fuselage/src/components/Contextualbar/index.ts
  packages/fuselage/src/components/Skeleton/Skeleton.styles.scss
  packages/fuselage/src/components/index.ts
Labels: 📦 fuselage

#1062 chore(fuselage): `IconButton` stories
  packages/fuselage/src/components/Button/IconButton.stories.tsx
Labels: 📦 fuselage

#1063 chore(fuselage): Add missing inset prop to `Contextualbar`
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Labels: 📦 fuselage

#1064 chore(fuselage): Contextualbar max-width
  packages/fuselage/src/components/Contextualbar/Contextualbar.tsx
Labels: 📦 fuselage

#1066 fix(fuselage): use label on `Select`
  packages/fuselage/src/components/Option/Option.tsx
  packages/fuselage/src/components/Select/Listbox.tsx
  packages/fuselage/src/components/Select/Select.styles.scss
Labels: 📦 fuselage
