Repository RocketChat/fuselage, pull requests merged in 2024-01, with the labels that each got.

#1087 feat(fuselage): Adds `detached` prop to render `Menu` on the document body
  .changeset/eleven-mails-fail.md
  packages/fuselage/src/components/Menu/V2/Menu.tsx
Labels: 📦 fuselage

#1244 feat(fuselage-hooks): Deprecate `useMutableCallback` in favor of `useEffectEvent`
  .changeset/fluffy-toys-fix.md
  .vscode/settings.json
  packages/fuselage-hooks/src/index.ts
  packages/fuselage-hooks/src/useClipboard.ts
  packages/fuselage-hooks/src/useEffectEvent.server.spec.ts
  packages/fuselage-hooks/src/useEffectEvent.spec.ts
  packages/fuselage-hooks/src/useEffectEvent.ts
  packages/fuselage-hooks/src/useElementIsVisible.ts
  packages/fuselage-hooks/src/useMutableCallback.ts
  packages/fuselage-hooks/src/useOutsideClick.ts
  packages/fuselage-hooks/src/usePosition/index.ts
  packages/fuselage-hooks/src/useToggle.ts
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
  packages/fuselage/src/components/MultiSelect/MultiSelect.tsx
  packages/fuselage/src/components/Options/useCursor.ts
  packages/fuselage/src/components/Options/useVisible.ts
  packages/fuselage/src/components/OptionsPaginated/OptionsPaginated.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedMultiSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelect.tsx
  packages/fuselage/src/components/PaginatedSelect/PaginatedSelectFiltered.tsx
  packages/fuselage/src/components/Scrollable/Scrollable.tsx
  packages/fuselage/src/components/Select/SelectLegacy.tsx
Labels: 📦 fuselage-hooks

#1221 feat(fuselage): Add missing message body additional styles to `MessageBody`
  .changeset/shy-hotels-play.md
  packages/fuselage/src/components/Message/Messages.styles.scss
Labels: 📦 fuselage

#1263 feat(fuselage): new `Bubble` component
  .changeset/ninety-turkeys-happen.md
  packages/fuselage/src/components/Bubble/Bubble.spec.tsx
  packages/fuselage/src/components/Bubble/Bubble.stories.tsx
  packages/fuselage/src/components/Bubble/Bubble.styles.scss
  packages/fuselage/src/components/Bubble/Bubble.tsx
  packages/fuselage/src/components/Bubble/__snapshots__/Bubble.spec.tsx.snap
  packages/fuselage/src/components/Bubble/index.ts
  packages/fuselage/src/components/Button/Button.styles.scss
  packages/fuselage/src/components/index.scss
  packages/fuselage/src/components/index.ts
  packages/fuselage/src/styles/lengths.scss
  packages/fuselage/src/styles/mixins/interactivity.scss
Labels: 📦 fuselage

#1266 feat(icons): new `arrow-up` icon
  .changeset/happy-panthers-worry.md
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-up.svg
Labels: 📦 icons

#1271 fix(fuselage): `ButtonGroup` missing `className` exposure
  .changeset/cold-students-shop.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.tsx
Labels: 📦 fuselage

#1273 fix(fuselage): Add `flexGrow` for stretch variation
  .changeset/silver-news-share.md
  packages/fuselage/src/components/ButtonGroup/ButtonGroup.styles.scss
Labels: 📦 fuselage

#1275 fix(fuselage): change `card-horizontal` row gap
  .changeset/four-ears-argue.md
  packages/fuselage/src/components/Card/Card.styles.scss
Labels: 📦 fuselage

#1270 feat(fuselage): normalize links
  .changeset/friendly-humans-stare.md
  packages/fuselage/src/components/Banner/Banner.styles.scss
  packages/fuselage/src/components/Box/richContentInline.stories.tsx
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreview.styles.scss
  packages/fuselage/src/components/Message/MessageGenericPreview/MessageGenericPreviewTitle.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Sidebar/Item.stories.tsx
  packages/fuselage/src/components/Sidebar/Item.tsx
  packages/fuselage/src/components/Sidebar/Sidebar.styles.scss
  packages/fuselage/src/components/Tag/Tag.stories.tsx
  packages/fuselage/src/components/Tag/Tag.styles.scss
  packages/fuselage/src/index.scss
  packages/fuselage/src/styles/normalize.scss
  packages/fuselage/src/styles/primitives/all.scss
  packages/fuselage/src/styles/primitives/link.scss
  packages/fuselage/src/styles/primitives/traits/rich-text.scss
Labels: 📦 fuselage

#1277 feat(fuselage): Add `forwardRef` in `MessageToolbar`
  .changeset/fuzzy-dogs-judge.md
  packages/fuselage/src/components/Message/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.spec.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.styles.scss
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbar.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbarItem.tsx
  packages/fuselage/src/components/Message/MessageToolbar/MessageToolbarWrapper.tsx
  packages/fuselage/src/components/Message/MessageToolbar/__snapshots__/MessageToolbar.spec.tsx.snap
  packages/fuselage/src/components/Message/MessageToolbar/index.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.spec.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.stories.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolbox.tsx
  packages/fuselage/src/components/Message/MessageToolbox/MessageToolboxWrapper.tsx
  packages/fuselage/src/components/Message/MessageToolbox/index.tsx
  packages/fuselage/src/components/Message/Messages.stories.tsx
  packages/fuselage/src/components/Message/Messages.styles.scss
  packages/fuselage/src/components/Message/index.tsx
Labels: 📦 fuselage
