Repository RocketChat/fuselage, pull requests merged in 2025-03, with the labels that each got.

#1596 chore(fuselage-hooks): Add `@rocket.chat/emitter` as peer and dev dependency
  packages/fuselage-hooks/README.md
  packages/fuselage-hooks/package.json
  yarn.lock
Labels: 📦 fuselage-hooks

#1597 feat(icons): Add `arrow-back-up` icon
  .changeset/tricky-actors-obey.md
  packages/icons/glyphsMapping.json
  packages/icons/src/arrow-back-up.dir.svg
Labels: 📦 icons

#1599 fix(onboarding-ui): Alignment on Register server step
  .changeset/proud-hotels-bake.md
  packages/onboarding-ui/.jest/setup.ts
  packages/onboarding-ui/src/common/AgreeTermsField.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/RegisterServerForm.spec.tsx
  packages/onboarding-ui/src/forms/RegisterServerForm/__snapshots__/RegisterServerForm.spec.tsx.snap
Labels: 📦 onboarding-ui
