Repository RocketChat/fuselage, pull requests merged in 2025-04, with the labels that each got.

#1604 feat(fuselage): Add `focusable` prop in `Box`
  .changeset/sixty-fans-jog.md
  packages/fuselage/src/components/Box/Box.styles.scss
  packages/fuselage/src/components/Box/Box.tsx
  packages/fuselage/src/components/Box/layout.stories.tsx
  packages/fuselage/src/hooks/useBoxOnlyProps.ts
Labels: 📦 fuselage

#1626 feat(icons): Add new `stacked-meatballs`
  .changeset/stale-apes-confess.md
  packages/icons/glyphsMapping.json
  packages/icons/src/stacked-meatballs.svg
Labels: 📦 icons

#1628 chore: Remove deprecation warning from `useAutoFocus` hook
  packages/fuselage-hooks/src/useAutoFocus.ts
Labels: 📦 fuselage-hooks
