Repository RocketChat/fuselage, pull requests merged in 2025-05, with the labels that each got.

#1633 fix(fuselage): Keep displaying button when Menu is opened
  .changeset/lazy-facts-tie.md
  packages/fuselage/src/components/Option/Option.spec.tsx
  packages/fuselage/src/components/Option/Option.stories.tsx
  packages/fuselage/src/components/Option/Option.styles.scss
Labels: 📦 fuselage

#1634 fix(fuselage): Increase `z-index` in `ContextualbarV2`
  .changeset/sad-beers-teach.md
  packages/fuselage/src/components/ContextualbarV2/Contextualbar.tsx
  packages/fuselage/src/components/ContextualbarV2/__snapshots__/Contextualbar.spec.tsx.snap
Labels: 📦 fuselage

#1640 feat(icons): Add new `inbox` icon
  .changeset/puny-turkeys-shout.md
  packages/icons/glyphsMapping.json
  packages/icons/src/inbox.svg
Labels: 📦 icons

#1632 fix(fuselage): `MenuV2` not handling focus properly
  .changeset/loose-teams-help.md
  packages/fuselage/src/components/Dropdown/DropdownDesktop.tsx
  packages/fuselage/src/components/Menu/V2/MenuPopover.tsx
Labels: 📦 fuselage

#1644 fix(fuselage): MenuV2 button should receive label
  .changeset/light-badgers-walk.md
  packages/fuselage/src/components/Menu/V2/Menu.tsx
  packages/fuselage/src/components/NavBar/__snapshots__/NavBar.spec.tsx.snap
Labels: 📦 fuselage

#1650 feat(layout): Remove unnecessary `Link` component
  .changeset/chilly-women-play.md
  packages/layout/src/components/ActionLink/ActionLink.tsx
  packages/layout/src/components/ActionLink/__snapshots__/ActionLink.spec.tsx.snap
  packages/layout/src/components/Link.tsx
  packages/layout/src/components/index.ts
  packages/layout/src/layouts/HorizontalWizardLayout/__snapshots__/HorizontalWizardLayout.spec.tsx.snap
Labels: 📦 layout

#1654 fix(fuselage): `Tag` default colors
  .changeset/shaky-readers-wish.md
  packages/fuselage/src/components/Tag/Tag.styles.scss
Labels: 📦 fuselage
