Repository RocketChat/fuselage, pull requests merged in 2025-09, with the labels that each got.

#1751 feat(fuselage-hooks): Expose `useStorage`
  .changeset/swift-llamas-wait.md
  packages/fuselage-hooks/src/useStorage.ts
Labels: 📦 fuselage-hooks, minor

#1756 fix(fuselage): AutoComplete selected items not being updated when value changes
  .changeset/green-walls-kick.md
  packages/fuselage/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/fuselage/src/components/AutoComplete/AutoComplete.tsx
Labels: 📦 fuselage

#1757 fix(fuselage-hooks): Preserve generic type of `useLocalStorage` and `useSessionStorage`
  .changeset/five-pillows-agree.md
  packages/fuselage-hooks/src/useStorage.ts
Labels: 🐛 Bug, 📦 fuselage-hooks

#1740 fix(fuselage-forms): Clicking on label does not focus on the input
  .changeset/empty-snails-peel.md
  packages/fuselage-forms/README.md
  packages/fuselage-forms/package.json
  packages/fuselage-forms/src/Field/FieldContext.ts
  packages/fuselage-forms/src/Field/FieldProvider.tsx
  packages/fuselage-forms/src/Inputs/withLabelHelpers.tsx
  packages/fuselage-forms/src/test.spec.tsx
  packages/fuselage-hooks/src/useSafeRefCallback/useSafeRefCallback.ts
  yarn.lock
Labels: 📦 fuselage-forms
